<template>
  <v-card>
    <v-toolbar text dense color="transparent" elevation="0">
      <v-toolbar-title>
        <h4>Transacciones</h4>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text class="pa-0">
      <v-data-table :headers="headers" :items="projects" hide-default-footer class="elevation-0">
        <template>
          <v-btn text icon color="grey">
            <v-icon>edit</v-icon>
          </v-btn>
          <v-btn text icon color="grey">
            <v-icon>delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
      <v-divider />
    </v-card-text>
  </v-card>
</template>

<script>
import { Projects } from '@/api/project'
export default {
  data() {
    return {
      headers: [
        {
          text: 'Monto',
          align: 'left',
          value: 'ammount',
        },
        {
          text: 'Concepto',
          align: 'left',
          value: 'name',
        },
        { text: 'Action', value: 'action', align: 'right' },
      ],
    }
  },
  computed: {
    projects() {
      return Projects
    },
  },
  methods: {
    getColorByStatus(status) {
      return this.colors[status]
    },
  },
}
</script>
