<template class="d-print-none">
  <v-app id="inspire" class="app dashboard">
    <app-drawer class="app--drawer" :show-drawer="showDrawer" />
    <app-toolbar class="app--toolbar" @side-icon-click="handleDrawerVisiable" />
    <v-main>
      <!-- Page Header -->
      <div class="page-wrapper"><router-view /></div>
      <!-- App Footer -->
      <v-footer height="auto" class="white pa-3 app--footer d-print-none">
        <span>&copy; {{ new Date().getFullYear() }}</span>
        <v-spacer />
        <span class="caption mr-1"></span>
        <v-icon color="pink" small>favorite</v-icon>
      </v-footer>
    </v-main>
    <!-- Go to top -->
    <app-fab />
  </v-app>
</template>

<script>
import AppDrawer from '@/components/AppDrawer'
import AppToolbar from '@/components/AppToolbar'
import AppFab from '@/components/AppFab'

export default {
  components: {
    AppDrawer,
    AppToolbar,
    AppFab,
  },

  data() {
    return {
      showDrawer: true,
    }
  },
  methods: {
    handleDrawerVisiable() {
      this.showDrawer = !this.showDrawer
    },
  },
  created() {},
}
</script>

<style lang="sass" scoped>

.page-wrapper
  min-height: calc(100vh - 64px - 50px - 50px)
</style>
