<template>
  <div id="page-forms">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg12>
          <v-card class="mb-4">
            <v-toolbar color="teal" dark text dense cad>
              <v-toolbar-title class="subheading"> {{ user_data.name }} {{ user_data.user_lastname }}</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card>
              <v-card-text>
                <v-form v-model="isValidEdit">
                  <div class="py-1 text-center blue-grey lighten-5">
                    <span class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4" border="bottom"
                      >Resumen del perfil</span
                    >
                  </div>
                  <v-row>
                    <v-col cols="12" lg="4" sm="6">
                      <div class="v-list-item__content pb-0 font-weight-black">
                        <span>Nombre</span>
                      </div>
                      <div class="v-list-item__content">
                        <div class="v-list-item__title">{{ user_data.name }} {{ user_data.user_lastname }}</div>
                      </div>
                    </v-col>
                    <v-col cols="12" lg="4" sm="6">
                      <div class="v-list-item__content pb-0 font-weight-black">
                        <span>Email</span>
                      </div>
                      <div class="v-list-item__content">
                        <div class="v-list-item__title">{{ user_data.email }}</div>
                      </div>
                    </v-col>
                    <v-col cols="12" lg="4" sm="6">
                      <div class="v-list-item__content pb-0 font-weight-black">
                        <span>Telefono</span>
                      </div>
                      <div class="v-list-item__content">
                        <div class="v-list-item__title">{{ user_data.user_phone }}</div>
                      </div>
                    </v-col>
                    <v-col cols="12" lg="4" sm="6">
                      <div class="v-list-item__content pb-0 font-weight-black">
                        <span>Foto de perfil</span>
                      </div>
                      <div class="v-list-item__content">
                        <div class="v-list-item__title">
                          <v-avatar size="100px">
                            <img alt="Avatar" :src="user_data.user_avatar" />
                          </v-avatar>
                          <v-btn class="ma-1" small @click.prevent="dialogAvatar = true">
                            Cambiar avatar
                          </v-btn>
                          <v-dialog transition="dialog-top-transition" v-model="dialogAvatar" max-width="600">
                            <v-card>
                              <v-card-text>
                                <template>
                                  <v-col cols="12" sm="12">
                                    <v-file-input
                                      :rules="rules"
                                      accept="image/png, image/jpeg, image/bmp"
                                      placeholder="Elige un avatar"
                                      prepend-icon="mdi-camera"
                                      v-model="avatar"
                                    ></v-file-input>
                                  </v-col>
                                </template>
                              </v-card-text>
                              <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn text @click="dialogAvatar.value = false">Cerrar</v-btn>
                                <v-btn
                                  color="primary"
                                  text
                                  @click="saveAvatar()"
                                  :loading="loading"
                                  :disabled="!isValid"
                                  >Guardar</v-btn
                                >
                              </v-card-actions>
                            </v-card>
                          </v-dialog>
                        </div>
                      </div>
                    </v-col>
                    <v-col cols="12" lg="4" sm="6">
                      <div class="v-list-item__content">
                        <v-select
                          v-model="usin_sex"
                          :items="select_sex"
                          item-text="name"
                          item-value="code"
                          label="Seleccione su sexo"
                          :rules="rules.acco_bankname"
                          required
                        ></v-select>
                      </div>
                    </v-col>
                    <v-col cols="12" lg="4" sm="6">
                      <div class="v-list-item__content">
                        <template>
                          <v-menu
                            ref="menu"
                            v-model="menu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                v-model="usin_birthday"
                                label="Fecha de nacimiento"
                                prepend-icon="mdi-calendar"
                                v-bind="attrs"
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              ref="picker"
                              v-model="usin_birthday"
                              :max="new Date().toISOString().substr(0, 10)"
                              min="1950-01-01"
                            ></v-date-picker>
                          </v-menu>
                        </template>
                      </div>
                    </v-col>
                  </v-row>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="saveItem()" :loading="loading" :disabled="!isValid"
                      >Guardar</v-btn
                    >
                  </v-card-actions>
                </v-form>
              </v-card-text>
              <v-card-text>
                <v-form>
                  <div class="py-1 text-center blue-grey lighten-5">
                    <span class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4" border="bottom"
                      >Datos del negocio</span
                    >
                  </div>
                  <v-row v-model="isValidBusiness">
                    <v-col cols="12" sm="4">
                      <div class="v-list-item__content">
                        <v-text-field
                          v-model="usin_economicactivity"
                          label="Actividad Economica"
                          :rules="rules.usin_economicactivity"
                          required
                        ></v-text-field>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="4">
                      <div class="v-list-item__content">
                        <v-text-field
                          v-model="usin_businessname"
                          label="Razon Social"
                          :rules="rules.usin_businessname"
                          required
                        ></v-text-field>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="4">
                      <div class="v-list-item__content">
                        <v-text-field
                          v-model="usin_businessrepresentative"
                          label="Representante Legal"
                          :rules="rules.usin_businessrepresentative"
                          required
                        ></v-text-field>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="4">
                      <div class="v-list-item__content">
                        <v-text-field
                          v-model="usin_businessaddress"
                          :rules="rules.usin_businessaddress"
                          label="Dirección"
                          required
                        ></v-text-field>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="4">
                      <div class="v-list-item__content">
                        <v-text-field
                          v-model="usin_businessrif"
                          :rules="rules.usin_businessrif"
                          label="RIF"
                          required
                        ></v-text-field>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="4">
                      <div class="v-list-item__content">
                        <v-text-field
                          v-model="usin_taxdata"
                          :rules="rules.usin_taxdata"
                          label="Data de impuestos"
                          required
                        ></v-text-field>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="4">
                      <div class="v-list-item__content">
                        <v-select
                          item-text="name"
                          item-value="code"
                          v-model="usin_socialnetwork"
                          :items="select_social"
                          :rules="rules.usin_socialnetwork"
                          label="Seleccione su Red Social"
                          required
                        ></v-select>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="4">
                      <div class="v-list-item__content">
                        <v-text-field
                          v-model="usin_socialnetworkuser"
                          :rules="rules.usin_socialnetworkuser"
                          label="Usuario"
                          required
                        ></v-text-field>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="4">
                      <div class="v-list-item__content">
                        <v-text-field
                          v-model="usin_webpage"
                          :rules="rules.usin_webpage"
                          label="Sitio web"
                          required
                        ></v-text-field>
                      </div>
                    </v-col>
                  </v-row>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="primary"
                      text
                      @click="saveItemBusiness()"
                      :loading="loading"
                      :disabled="!isValidBusiness"
                      >Guardar</v-btn
                    >
                  </v-card-actions>
                </v-form>
              </v-card-text>
            </v-card>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import VWidget from '@/components/VWidget'
import EventForm from '@/components/widgets/form/EventForm'
import ContactForm from '@/components/widgets/form/ContactForm'
import PaymentForm from '@/components/widgets/form/PaymentForm'
import ShipmentForm from '@/components/widgets/form/ShipmentForm'
import Material from 'vuetify/es5/util/colors'
export default {
  name: 'Profile',
  Components: {
    /* eslint-disable-line vue/no-unused-components */
    VWidget,
    /* eslint-disable-line vue/no-unused-components */
    ContactForm,
    /* eslint-disable-line vue/no-unused-components */
    PaymentForm,
    ShipmentForm,
    /* eslint-disable-line vue/no-unused-components */
    EventForm,
  },
  data() {
    return {
      config: {
        headers: {
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          Authorization: this.$session.get('tokenSession') ? 'Bearer ' + this.$session.get('tokenSession') : '',
        },
      },
      userId: this.$session.get('user_id'),
      user_data: [],
      isValidBusiness: true,
      isValidEdit: true,
      isValid: true,
      dialogView: false,
      dialogAvatar: false,
      loading: false,
      dialog: false,
      acco_id: '',
      usin_sex: '',
      usin_birthday: '',
      usin_businessaddress: '',
      usin_businessname: '',
      usin_businessrepresentative: '',
      usin_businessrif: '',
      usin_economicactivity: '',
      usin_socialnetwork: '',
      usin_socialnetworkuser: '',
      usin_taxdata: '',
      usin_webpage: '',
      avatar: null,
      color: Material,
      date: null,
      menu: false,
      select_sex: [
        { code: 'male', name: 'Masculino' },
        { code: 'female', name: 'Femenino' },
      ],
      select_social: [
        { code: 'instagram', name: 'Instagram' },
        { code: 'facebook', name: 'Facebook' },
        { code: 'twitter', name: 'Twitter' },
      ],
      rules: {
        select_sex: [(v) => !!v || 'Este campo es requerido'],
        usin_businessaddress: [(v) => !!v || 'Este campo es requerido'],
        usin_businessname: [(v) => !!v || 'Este campo es requerido'],
        usin_businessrepresentative: [(v) => !!v || 'Este campo es requerido'],
        usin_businessrif: [(v) => !!v || 'Este campo es requerido'],
        usin_economicactivity: [(v) => !!v || 'Este campo es requerido'],
        usin_socialnetwork: [(v) => !!v || 'Este campo es requerido'],
        usin_socialnetworkuser: [(v) => !!v || 'Este campo es requerido'],
        usin_taxdata: [(v) => !!v || 'Este campo es requerido'],
        usin_webpage: [(v) => !!v || 'Este campo es requerido'],
        curr_id: [
          (v) => !!v || 'Este campo es requerido',
          (v) => Number.isInteger(Number(v)) || 'Este campo solo permite números',
        ],
        date: [(v) => !!v || 'Este campo es requerido'],
        amount: [
          (v) => !!v || 'Este campo es requerido',
          (v) => v >= 0 || 'Este campo tiene que ser un número positivo',
          (v) => parseFloat(v) <= this.availableBalance || 'Este monto supera su saldo disponible',
        ],
      },
    }
  },
  created() {
    this.userData()
  },
  computed: {},
  watch: {
    menu(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
  },
  methods: {
    async userData() {
      this.$axios.get(process.env.VUE_APP_AUTH_API + 'api/auth/user').then((response) => {
        this.user_data = response.data
        this.usin_birthday = this.user_data.information.usin_birthday
        this.usin_sex = this.user_data.information.usin_sex
        this.usin_economicactivity = this.user_data.information.usin_economicactivity
        this.usin_businessaddress = this.user_data.information.usin_businessaddress
        this.usin_businessrepresentative = this.user_data.information.usin_businessrepresentative
        this.usin_businessrif = this.user_data.information.usin_businessrif
        this.usin_socialnetwork = this.user_data.information.usin_socialnetwork
        this.usin_socialnetworkuser = this.user_data.information.usin_socialnetworkuser
        this.usin_taxdata = this.user_data.information.usin_taxdata
        this.usin_webpage = this.user_data.information.usin_webpage
        this.usin_businessname = this.user_data.information.usin_businessname
      })
    },
    async saveItemBusiness() {
      this.$axios
        .post(process.env.VUE_APP_AUTH_API + 'api/user/business', {
          businessaddress: this.usin_businessaddress,
          businessname: this.usin_businessname,
          businessrepresentative: this.usin_businessrepresentative,
          businessrif: this.usin_businessrif,
          economicactivity: this.usin_economicactivity,
          socialnetwork: this.usin_socialnetwork,
          socialnetworkuser: this.usin_socialnetworkuser,
          taxdata: this.usin_taxdata,
          webpage: this.usin_webpage,
        })
        .then(() => {
          this.userData()
        })
    },
    async saveItem() {
      this.$axios
        .put(process.env.VUE_APP_AUTH_API + 'api/user-informations/' + this.userId, {
          birthday: this.usin_birthday,
          sex: this.usin_sex,
        })
        .then(() => {
          this.userData()
        })
    },
    async saveAvatar() {
      let headers = {
        headers: {
          'Content-Type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest',
          Authorization: this.$session.get('tokenSession') ? 'Bearer ' + this.$session.get('tokenSession') : '',
        },
      }
      let form = new FormData()
      form.append('avatar', this.avatar)
      this.$axios.post(process.env.VUE_APP_AUTH_API + 'api/avatars', form, headers).then(() => {
        this.userData()
        this.dialogAvatar = false
      })
    },
  },
}
</script>
<style lang="scss">
.v-text-field {
  padding-top: 0px;
  margin-top: 0px;
}
</style>
