<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex sm12>
          <h3>Cuentas de Liquidación</h3>
        </v-flex>
        <v-flex lg12>
          <v-card>
            <v-toolbar flat color="white">
              <v-text-field
                text
                solo
                flat
                prepend-icon="search"
                placeholder="Buscar"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialogCreate" max-width="700px">
                <template v-slot:activator="{ on }">
                  <div class="d-flex">
                    <v-btn color="primary" dark class="ml-auto ma-3" v-on="on" @click="handleCreate()">
                      <v-icon left>add</v-icon>Nueva
                    </v-btn>
                  </div>
                </template>
                <v-card>
                  <v-card-title color="primary">
                    <span>Nueva cuenta</span>
                  </v-card-title>
                  <v-card-text>
                    <v-form v-model="isValid">
                      <v-row>
                        <v-col cols="12" sm="12">
                          <v-text-field
                            v-model="acco_name"
                            label="Alias de cuenta"
                            :rules="rules.acco_bankname"
                            required
                            type="text"
                            :maxlength="20"
                            :disabled="text"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <div class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Datos bancarios</span
                        >
                      </div>
                      <v-row>
                        <v-col cols="12" sm="4">
                          <v-select
                            v-model="currId"
                            :items="codeCurrency"
                            item-text="name"
                            item-value="code"
                            label="Moneda"
                            :rules="rules.country_code"
                            @change="getBanksCommissions()"
                            required
                            :disabled="text"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4">
                          <v-select
                            v-model="acco_bankid"
                            :items="selectNameBank"
                            item-text="bank_name"
                            item-value="id"
                            return-object
                            label="Seleccione el banco"
                            :rules="rules.acco_bankid"
                            :disabled="text"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4">
                          <v-select
                            v-model="acco_type"
                            :items="typeAccount"
                            item-text="name"
                            item-value="code"
                            label="Seleccione el tipo de cuenta"
                            :rules="rules.acco_bankname"
                            required
                            :disabled="text"
                          ></v-select>
                        </v-col>
                        <v-col v-show="currId == 1 && acco_bankid && acco_bankid != ''" cols="12" sm="12">
                          <div>
                            <v-alert border="top" colored-border type="info" elevation="2">
                              Al realizar una solicitud de retiro del saldo disponible, el banco seleccionado realiza un
                              cobro de comision del {{ acco_bankid.bank_percentcommission }}% y una tarifa plana de USD
                              {{ acco_bankid.bank_fixedcommission }}.
                            </v-alert>
                          </div>
                        </v-col>
                        <v-col cols="12" sm="12">
                          <v-text-field
                            v-model="acco_numberaccount"
                            label="Número de cuenta"
                            type="text"
                            :maxlength="20"
                            :disabled="text"
                          ></v-text-field>
                        </v-col>
                        <v-col v-show="currId == 1" cols="12" sm="6">
                          <v-text-field
                            v-model="acco_aba"
                            label="ABA"
                            required
                            type="text"
                            :maxlength="9"
                            :disabled="text"
                          ></v-text-field>
                        </v-col>
                        <v-col v-show="currId == 1" cols="12" sm="6">
                          <v-text-field
                            v-model="acco_swift"
                            label="SWIFT"
                            required
                            type="text"
                            :maxlength="11"
                            :disabled="text"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <div class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Datos del titular</span
                        >
                      </div>
                      <template>
                        <v-container class="px-0" fluid>
                          <v-checkbox
                            v-model="checkbox"
                            label="¿Es una cuenta Jurídica?"
                            @click="checkLabel"
                          ></v-checkbox>
                        </v-container>
                      </template>
                      <v-row>
                        <v-col cols="12" sm="6">
                          <v-text-field
                            v-model="acco_nameaccount"
                            :label="labelName"
                            :rules="rules.acco_nameaccount"
                            required
                            type="text"
                            :disabled="text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                          <v-text-field
                            v-model="acco_email"
                            label="Correo electrónico"
                            :rules="rules.acco_email"
                            required
                            type="text"
                            :disabled="text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="4">
                          <v-select
                            v-model="country_code"
                            :items="codeCountry"
                            item-text="name"
                            item-value="code"
                            label="Código del País"
                            :rules="rules.country_code"
                            required
                            :disabled="text"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4">
                          <v-text-field
                            v-model="acco_phone"
                            label="Telefono"
                            placeholder="2121234567"
                            :rules="rules.acco_phone"
                            :maxlength="10"
                            required
                            type="text"
                            :disabled="text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="4">
                          <v-text-field
                            v-model="acco_document"
                            :label="labelPhone"
                            placeholder="2121234567"
                            :rules="rules.acco_document"
                            :maxlength="10"
                            required
                            type="text"
                            :disabled="text"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-form>
                    <div class="darken-2 text-justify" v-if="editError" border="bottom">
                      <span class="red--text">{{ editError }}</span>
                    </div>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey" text @click="handleCreate()" :disabled="text">Cancelar</v-btn>
                    <v-btn color="primary" text @click="newItem()" :loading="loading" :disabled="!isValid"
                      >Guardar</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialog" max-width="800px">
                <v-card>
                  <v-card-title color="primary">
                    <span v-if="editedItem.id && this.flow === 'edit'">Editar cuenta {{ editedItem.id }}</span>
                    <span v-if="editedItem.id && this.flow === 'delete'">Eliminar cuenta {{ editedItem.id }}</span>
                    <span v-if="this.flow === 'create'">Nueva cuenta </span>
                  </v-card-title>
                  <v-card-text>
                    <v-form v-model="isValidEdit">
                      <div class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Datos bancarios</span
                        >
                      </div>
                      <v-row>
                        <v-col cols="12" sm="4">
                          <v-text-field
                            v-model="editedItem.acco_name"
                            label="Alias"
                            :rules="rules.acco_name"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="8">
                          <v-select
                            v-model="editedItem.acco_bankname"
                            :items="selectNameBank"
                            item-text="name"
                            item-value="name"
                            label="Nombre del banco"
                            :rules="rules.acco_bankname"
                            required
                            :disabled="this.flow === 'delete' || text"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" sm="12">
                          <v-text-field
                            v-model="editedItem.acco_numberaccount"
                            label="Número de cuenta"
                            :rules="rules.acco_numberaccount"
                            :maxlength="20"
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <div class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Datos personales</span
                        >
                      </div>
                      <v-row>
                        <v-col cols="12" sm="6">
                          <v-text-field
                            v-model="editedItem.acco_nameaccount"
                            label="Nombre del titular"
                            :rules="rules.acco_nameaccount"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                          <v-text-field
                            v-model="editedItem.acco_email"
                            label="Correo electrónico"
                            :rules="rules.acco_email"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="4">
                          <v-select
                            v-model="editedItem.country_code"
                            :items="codeCountry"
                            item-text="name"
                            item-value="code"
                            label="Pais"
                            :rules="rules.country_code"
                            required
                            :disabled="this.flow === 'delete' || text"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" sm="4">
                          <v-text-field
                            v-model="editedItem.acco_phone"
                            :label="labelPhone"
                            placeholder="2121234567"
                            :maxlength="10"
                            :rules="rules.acco_phone"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-form>
                    <div class="darken-2 text-justify" v-if="editError" border="bottom">
                      <span class="red--text">{{ editError }}</span>
                    </div>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey" text @click="handleEdit()" :disabled="text">Cancelar</v-btn>
                    <v-btn color="red--text lighten-5" v-if="this.flow === 'delete'" @click="deleteItem(editedItem.id)"
                      >Eliminar</v-btn
                    >
                    <v-btn
                      color="primary"
                      text
                      v-if="this.flow === 'edit'"
                      @click="
                        saveItem(
                          editedItem.id,
                          editedItem.acco_name,
                          editedItem.acco_bankname,
                          editedItem.acco_numberaccount,
                          editedItem.acco_nameaccount,
                          editedItem.acco_phone,
                          editedItem.acco_email,
                          editedItem.country_code
                        )
                      "
                      :disabled="isValidEdit === false"
                      :loading="loading"
                      >Guardar</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>-->
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="fields"
                :search="search"
                :items="bankAccounts"
                class="elevation-1"
                item-key="id"
                :loading="loading"
                :items-per-page="20"
                :hide-default-header="false"
                :hide-default-footer="true"
                no-data-text="No hay registros"
                no-results-text="No hay resultados para su búsqueda"
                :loading-text="loadingText"
              >
                <template v-slot:[`item.action`]="{ item }">
                  <v-btn depressed text icon fab dark color="pink" small @click="handleEdit('delete', item)">
                    <v-icon>delete</v-icon>
                  </v-btn>
                </template>
              </v-data-table>
              <div class="text-center pt-2" style="margin: 10px 0px">
                <v-pagination @input="pagination($event)" v-model="page" :length="pages" />
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
const bankAccounts = []

export default {
  name: 'BankAccounts',
  data() {
    return {
      config: {
        headers: {
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          Authorization: '',
        },
      },
      regexPhone: /^(424|414|412|426|416|212)+([0-9]{7})$/,
      regexNumberAccount: /^(\d{5})(\d{15})$/,
      bankAccounts: bankAccounts,
      user_id: '',
      checkbox: false,
      acco_name: '',
      labelPhone: 'Número',
      labelName: 'Nombre del Titular',
      acco_aba: null,
      acco_type: '',
      acco_document: null,
      acco_swift: null,
      acco_bankname: '',
      acco_numberaccount: null,
      acco_nameaccount: '',
      acco_email: '',
      acco_bankid: '',
      country_code: '',
      acco_phone: '',
      loadingText: 'Cargando... Por favor espere',
      totalItems: 0,
      itemsPerPage: 20,
      page: 1,
      pages: 1,
      isValid: true,
      currId: { code: '0', name: 'Seleccione una moneda' },
      isValidEdit: true,
      bank: [],
      rules: {
        acco_name: [
          (v) => !!v || 'Este campo es requerido',
          (v) => v.length <= 255 || 'El campo debe tener menos de 255 caracteres.',
        ],
        acco_bankid: [(v) => !!v || 'Este campo es requerido'],
        acco_numberaccount: [
          (v) => Number.isInteger(Number(v)) || 'Este campo solo permite números',
          (v) => this.regexNumberAccount.test(v) || 'Formato de campo inválido',
        ],
        acco_aba: [(v) => Number.isInteger(Number(v)) || 'Este campo solo permite números'],
        acco_swift: [(v) => Number.isInteger(Number(v)) || 'Este campo solo permite números'],
        acco_document: [(v) => Number.isInteger(Number(v)) || 'Este campo solo permite números'],
        acco_nameaccount: [
          (v) => !!v || 'Este campo es requerido',
          (v) => v.length <= 255 || 'El campo debe tener menos de 255 caracteres.',
        ],
        acco_email: [
          (v) => !!v || 'Este campo es requerido',
          (v) => v.length <= 80 || 'El campo debe tener menos de 80 caracteres.',
          (v) => /.+@.+\..+/.test(v) || 'El formato de correo electrónico es invalido',
        ],
        acco_phone: [
          (v) => !!v || 'Este campo es requerido',
          (v) => Number.isInteger(Number(v)) || 'Este campo solo permite números',
          (v) => this.regexPhone.test(v) || 'Formato de campo inválido',
        ],
      },
      selectNameBank: [],
      codeCountry: [
        { code: '1', name: 'Estados Unidos (+1)' },
        { code: '58', name: 'Venezuela (+58)' },
      ],
      codeCurrency: [
        { code: '1', name: 'Dólares' },
        { code: '2', name: 'Bolivares' },
      ],
      typeAccount: [
        { code: 'saving', name: 'Ahorro' },
        { code: 'checking', name: 'Corriente' },
      ],
      flow: '',
      editError: '',
      text: false,
      loading: false,
      dialog: false,
      dialogCreate: false,
      search: '',
      fields: [
        {
          text: 'Nro.',
          value: 'id',
        },
        {
          text: 'Alias',
          value: 'acco_name',
        },
        {
          text: 'Titular de la cuenta',
          value: 'acco_nameaccount',
        },
        { text: 'Acción', value: 'action', sortable: false, align: 'right' },
      ],
      editedItem: {},
    }
  },
  created() {
    this.getAccounts()
  },
  methods: {
    async getAccounts() {
      let userId = this.$session.get('user_id')
      this.bankAccounts = []
      let bankAccounts = []
      this.$axios.get(process.env.VUE_APP_AUTH_API + 'api/accounts?user_id=' + userId + '&admin=1').then((response) => {
        this.bankAccounts = this.bankAccounts.concat(response.data)
        bankAccounts = bankAccounts.concat(response.data)
        if (this.bankAccounts.length < 1) {
          this.loadingText = 'No hay registros'
        }
        this.totalItems = response.data.total
        this.itemsPerPage = response.data.per_page
        if (response.data.from) {
          this.page = response.data.from
          this.pages = response.data.last_page
        } else {
          this.page = 1
          this.pages = 1
        }
        this.loading = false
      })
    },
    async getBanksCommissions() {
      this.$axios.get(process.env.VUE_APP_PAYFORU_API + 'api/banks?admin=1&curr_id=' + this.currId).then((response) => {
        this.selectNameBank = response.data.banks
      })
    },
    handleCreate() {
      this.editError = ''
      this.dialogCreate = !this.dialogCreate
    },
    checkLabel() {
      if (this.checkbox == true) {
        this.labelPhone = 'RIF'
        this.labelName = 'Razon Social'
        this.checkbox = false
      } else {
        this.labelPhone = 'Cedula de Identidad'
        this.labelName = 'Nombre del Titular'
        this.checkbox == true
      }
    },
    handleEdit(flow, item) {
      this.flow = flow
      this.editedItem = Object.assign(this.editedItem, item) || {}
      this.editError = ''
      this.dialog = !this.dialog
    },
    async saveItem(
      id,
      acco_name,
      acco_aba,
      acco_swift,
      acco_document,
      acco_bankname,
      acco_type,
      acco_numberaccount,
      acco_nameaccount,
      acco_phone,
      acco_email,
      country_code
    ) {
      this.$axios
        .put(
          process.env.VUE_APP_AUTH_API + 'api/accounts/' + id,
          {
            user_id: id,
            name: acco_name,
            aba: acco_aba,
            swift: acco_swift,
            document: acco_document,
            bank_id: acco_bankname,
            type: acco_type,
            numberaccount: Number(acco_numberaccount),
            nameaccount: acco_nameaccount,
            phone: parseInt(country_code + acco_phone),
            email: acco_email,
          },
          this.config
        )
        .then(() => {
          this.getAccounts()
          this.dialog = !this.dialog
          this.loading = false
          this.text = false
        })
    },
    async deleteItem(id) {
      this.$axios.delete(process.env.VUE_APP_AUTH_API + 'api/accounts/' + id).then(() => {
        this.getAccounts()
        this.dialog = !this.dialog
        this.loading = false
      })
    },
    async newItem() {
      this.user_id = this.$session.get('user_id')
      this.$axios
        .post(process.env.VUE_APP_AUTH_API + 'api/accounts', {
          user_id: this.user_id,
          name: this.acco_name,
          aba: this.acco_aba,
          swift: this.acco_swift,
          bank_id: this.acco_bankid.id,
          numberaccount: this.acco_numberaccount,
          nameaccount: this.acco_nameaccount,
          phone: this.country_code + this.acco_phone,
          email: this.acco_email,
          document: this.acco_document,
          type: this.acco_type,
        })
        .then(() => {
          this.getAccounts()
          this.dialogCreate = !this.dialogCreate
          this.text = false
          this.loading = false
        })
    },
  },
}
</script>
