<template>
  <div class="page--dash">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg4 sm12 xs12>
          <v-card class="mx-auto" max-width="344">
            <!-- <v-img src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" height="200px"></v-img> -->
            <v-card-title>
              <v-dialog transition="dialog-top-transition" max-width="600">
                <template v-slot:activator="{ on, attrs }">
                  <h3>Saldo disponible:</h3>
                  <span><br /><br /></span>
                  <v-btn class="ma-1" outlined fab x-small color="white" v-bind="attrs" v-on="on">
                    <v-icon style="color:#39598b;">info</v-icon>
                  </v-btn>
                </template>
                <template v-slot:default="dialog">
                  <v-card>
                    <v-toolbar color="primary" dark>Saldo disponible</v-toolbar>
                    <v-card-text>
                      <div class="text-h6 pa-6" style="text-align:justify;">
                        <h4>Saldo disponible</h4>
                        Es el dinero que se encuentra disponible en tu cuenta que puedes retirar con una solicitud de
                        retiro.
                      </div>
                      <div class="text-h6 pa-6" style="text-align:justify;">
                        <h4>Pendiente por conciliar</h4>
                        Es el dinero que se encuentra retenido en espera de conciliación bancaria perteneciente a pagos
                        realizados por tus clientes.
                      </div>
                      <div class="text-h6 pa-6" style="text-align:justify;">
                        <h4>Pendiente por retirar</h4>
                        Es el dinero que se encuentra retenido en espera de conciliación bancaria perteneciente a los
                        pagos de tus solicitudes de retiro.
                      </div>
                    </v-card-text>
                    <v-card-actions class="justify-end">
                      <v-btn text @click="dialog.value = false">Cerrar</v-btn>
                    </v-card-actions>
                  </v-card>
                </template>
              </v-dialog>
              <v-divider inset></v-divider>
              <money
                disabled
                style="border: 0; background-color: transparent"
                v-model="availableBalance_usd.availableBalance"
                v-bind="money"
              ></money>
            </v-card-title>
            <v-card-subtitle>
              <br />
              Pendiente por retirar:
              <br />
              <money
                disabled
                style="border: 0; background-color: transparent"
                v-model="availableBalance_usd.pendingExpense"
                v-bind="money"
              ></money>
              <br />
              Pendiente por conciliar:
              <br />
              <money
                disabled
                style="border: 0; background-color: transparent"
                v-model="availableBalance_usd.pendingIncome"
                v-bind="money"
              ></money>
            </v-card-subtitle>
            <v-card-actions>
              <router-link to="/payforu/balance" tag="v-btn">
                <v-btn color="orange lighten-2" text>
                  Ver más detalles
                </v-btn>
              </router-link>
            </v-card-actions>
          </v-card>
        </v-flex>

        <!-- <v-flex lg4 sm12 xs12>
          <v-card class="mx-auto" max-width="344">
             <v-img src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" height="200px"></v-img>
            <v-card-title>
              Saldo disponible:
              <br />VES {{ availableBalance_ves.availableBalance }}
            </v-card-title>
            <v-card-subtitle>
              <br />
              Pendiente por retirar:
              <br />
              VES {{ availableBalance_ves.pendingExpense }}
              <br />
              Pendiente por conciliar:
              <br />
              VES {{ availableBalance_ves.pendingIncome }}
            </v-card-subtitle>
            <v-card-actions>
              <v-btn color="orange lighten-2" text>
                Ver más detalles
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex> -->
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import API from '@/api'
import Material from 'vuetify/es5/util/colors'
import { Money } from 'v-money'
export default {
  components: { Money },
  name: 'Dashboard',
  data() {
    return {
      config: {
        headers: {
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          Authorization: this.$session.get('tokenSession') ? 'Bearer ' + this.$session.get('tokenSession') : '',
        },
      },
      userId: this.$session.get('user_id'),
      money: {
        decimal: ',',
        thousands: '.',
        prefix: 'USD ',
        suffix: '',
        precision: 2,
        masked: false,
      },
      color: Material,
      selectedTab: 'tab-1',
      availableBalance_usd: [],
      availableBalance_ves: [],
      pending: 0,
      canceled: 0,
      approved: 0,
      trending: [],
    }
  },
  created: function() {
    this.getPurchaseOrders()
    this.getAvailebleBalance(1)
  },
  methods: {
    async getPurchaseOrders() {
      this.trending = [
        {
          subheading: 'Pendiene',
          headline: '15+',
          icon: {
            label: 'mdi-alert-circle-outline',
            color: 'orange',
          },
          linear: {
            value: 11,
            color: 'info',
          },
        },
        {
          subheading: 'Aprobada',
          headline: '15+',
          icon: {
            label: 'mdi-check-circle-outline',
            color: 'green',
          },
          linear: {
            value: 22,
            color: 'success',
          },
        },
        {
          subheading: 'Rechazada',
          headline: '15+',
          icon: {
            label: 'mdi-close-circle-outline',
            color: 'pink',
          },
          linear: {
            value: 33,
            color: 'error',
          },
        },
      ]
    },

    async getAvailebleBalance() {
      this.$axios
        .get(process.env.VUE_APP_PAYFORU_API + 'api/pending-amounts?currencyCode=USD&curr_id=1')
        .then((response) => {
          this.availableBalance_usd = response.data
          this.loading = false
        })
      this.$axios
        .get(process.env.VUE_APP_PAYFORU_API + 'api/pending-amounts?currencyCode=VES&curr_id=2')
        .then((response) => {
          this.availableBalance_ves = response.data
          console.log(this.availableBalance)
        })
        .catch((error) => {
          if (error.response) {
            switch (error.response.status) {
              case 401:
              case 402:
                break
              default:
            }
          }
        })
        .finally(() => (this.loading = false))
    },

    locationData() {
      return API.getLocation
    },
  },
}
</script>
