<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex sm12>
          <h3>Mis tiendas</h3>
        </v-flex>
        <v-flex lg12>
          <v-card>
            <v-toolbar flat color="white">
              <v-text-field
                text
                solo
                flat
                prepend-icon="search"
                placeholder="Buscar"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" max-width="800px">
                <!-- <template v-slot:activator="{ on }">
                  <div class="d-flex">
                    <v-btn color="primary" dark class="ml-auto ma-3" v-on="on">
                      <v-icon left>add</v-icon>Nueva
                    </v-btn>
                  </div>
                </template>-->
                <v-card>
                  <v-card-title color="primary">
                    <span v-if="editedItem.stor_name && this.flow === 'edit'"
                      >Editar tienda: {{ editedItem.stor_name }}</span
                    >
                    <span v-if="editedItem.stor_name && this.flow === 'delete'"
                      >Eliminar tienda: {{ editedItem.stor_name }}</span
                    >
                  </v-card-title>
                  <v-col cols="12" sm="12">
                    <img :src="editedItem.stor_logo" width="100" alt="logo" />
                  </v-col>
                  <v-card-text>
                    <v-form v-model="isValidEdit">
                      <v-row>
                        <v-col cols="12" sm="4">
                          <v-file-input
                            v-model="editedItem.stor_logo"
                            :rules="rules.logo"
                            accept="image/png, image/jpeg, image/gif, image/jpg"
                            prepend-icon="mdi-camera"
                            label="Logo"
                            :disabled="this.flow === 'delete' || text"
                            show-size
                          ></v-file-input>
                          <!-- <v-text-field
                            v-model="editedItem.stor_logo"
                            label="Logo"
                            :rules="rules.logo"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-text-field>-->
                        </v-col>
                        <v-col cols="12" sm="5">
                          <v-text-field
                            v-model="editedItem.stor_name"
                            label="Nombre"
                            :rules="rules.name"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="3">
                          <v-text-field
                            v-model="editedItem.curr_id"
                            label="Moneda de venta"
                            :rules="rules.curr_id"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12">
                          <v-text-field
                            v-model="editedItem.stor_description"
                            label="Descripción"
                            :rules="rules.description"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="3">
                          <v-switch
                            v-model="editedItem.stor_outstanding"
                            :label="'Destacada: ' + this.stor_outstanding"
                            :rules="rules.outstanding"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                            @change="changeSwitch(editedItem.stor_outstanding, 'outstanding')"
                          ></v-switch>
                        </v-col>
                        <v-col cols="12" sm="5">
                          <v-switch
                            v-model="editedItem.stor_typepublication"
                            :label="'Tipo de publicación: ' + this.stor_typepublication"
                            :rules="rules.typepublication"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                            @change="changeSwitch(editedItem.stor_typepublication, 'typepublication')"
                          ></v-switch>
                        </v-col>
                        <v-col cols="12" sm="4 ">
                          <v-select
                            v-model="editedItem.stor_typestore"
                            :items="selectTypeStore"
                            item-text="name"
                            item-value="code"
                            label="Tipo de tienda"
                            :rules="rules.typestore"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" sm="3">
                          <v-switch
                            v-model="editedItem.stor_pickup"
                            :label="'Retiro: ' + this.stor_pickup"
                            :rules="rules.pickup"
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                            @change="changeSwitch(editedItem.stor_pickup, 'pickup')"
                          ></v-switch>
                        </v-col>
                        <v-col cols="12" sm="3">
                          <v-select
                            v-model="editedItem.stor_delivery"
                            :items="selectDelivery"
                            item-text="name"
                            item-value="code"
                            label="Entrega"
                            :rules="rules.delivery"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" sm="3">
                          <v-switch
                            v-model="editedItem.stor_supervision"
                            :label="'Supervisión: ' + this.stor_supervision"
                            :rules="rules.supervision"
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                            @change="changeSwitch(editedItem.stor_supervision, 'supervision')"
                          ></v-switch>
                        </v-col>
                        <v-col cols="12" sm="3">
                          <v-switch
                            v-model="editedItem.stor_active"
                            :label="'Estatus: ' + this.stor_active"
                            :rules="rules.prod_active"
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                            @change="changeSwitch(editedItem.stor_active, 'active')"
                          ></v-switch>
                          <!-- ${editedItem.prod_status.toString()}`-->
                        </v-col>
                        <v-col cols="12" sm="12">
                          <span>Color</span>
                          <v-color-picker
                            width="900"
                            hide-mode-switch
                            :mode.sync="mode"
                            v-model="editedItem.stor_color"
                            label="Color"
                            :rules="rules.color"
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-color-picker>
                        </v-col>
                        <v-col cols="12" sm="12">
                          <!-- <v-file-input
                            v-model="editedItem.stor_document"
                            multiple
                            :rules="rules.document"
                            accept=".pdf"
                            prepend-icon="picture_as_pdf"
                            label="Documento"
                            :disabled="this.flow === 'delete' || text"
                            show-size
                          ></v-file-input>-->

                          <v-text-field
                            v-model="editedItem.stor_document"
                            label="Documento"
                            :rules="rules.document"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey" text @click="handleEdit()" :disabled="text">Cancelar</v-btn>
                    <v-btn color="red--text lighten-5" v-if="this.flow === 'delete'" @click="deleteItem(editedItem.id)"
                      >Eliminar</v-btn
                    >
                    <v-btn
                      color="primary"
                      text
                      v-if="this.flow === 'edit'"
                      @click="
                        saveItem(
                          editedItem.id,
                          editedItem.user_id,
                          editedItem.curr_id,
                          editedItem.stor_name,
                          editedItem.stor_logo,
                          editedItem.stor_description,
                          editedItem.stor_outstanding,
                          editedItem.stor_typepublication,
                          editedItem.stor_typestore,
                          editedItem.stor_pickup,
                          editedItem.stor_delivery,
                          editedItem.stor_supervision,
                          editedItem.stor_active,
                          editedItem.stor_color,
                          editedItem.stor_document
                        )
                      "
                      :disabled="!isValidEdit"
                      :loading="loading"
                      >Guardar</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="fields"
                :search="search"
                :items="myStores"
                class="elevation-1"
                item-key="name"
                loading="true"
                :sort-by="['id']"
                loading-text="Cargando... Por favor espere"
              >
                <template v-slot:[`item.details`]="{ item }">
                  <div class="text-truncate" style="width: 180px">{{ item.Details }}</div>
                </template>

                <template v-slot:[`item.active_store`]="{ item }">
                  <span v-if="item.stor_active === false">
                    <v-avatar left>
                      <v-icon :class="getColor(item.stor_active)">mdi-minus-circle-outline</v-icon>
                    </v-avatar>
                    {{ item.active_store }}
                  </span>
                  <span v-else-if="item.stor_active === true">
                    <v-avatar left>
                      <v-icon :class="getColor(item.stor_active)">mdi-check-circle-outline</v-icon>
                    </v-avatar>
                    {{ item.active_store }}
                  </span>
                </template>
                <template v-slot:item.stor_logo="{ item }">
                  <a :href="item.stor_logo" target="_new">
                    <img :src="item.stor_logo" width="35" alt="image" />
                  </a>
                </template>
                <template v-slot:[`item.action`]="{ item }">
                  <v-menu offset-y origin="center center" transition="scale-transition">
                    <template v-slot:activator="{ on }">
                      <v-btn depressed icon large text slot="activator" style="background-color: #b5b0f89e" v-on="on">
                        <v-icon>mdi-arrow-down</v-icon>
                      </v-btn>
                    </template>
                    <v-list class="pa-0">
                      <v-list-item
                        v-for="(storeOption, index) in storeOptions"
                        @click="storeBranchesRedirection(item.id)"
                        rel="noopener"
                        :key="index"
                      >
                        <!--<router-link :to="{ name: 'Store Branches', params: { storId: item.id }}">-->
                        <v-list-item-action v-if="storeOption.icon">
                          <v-icon>{{ storeOption.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                          <v-list-item-title>{{ storeOption.title }}</v-list-item-title>
                        </v-list-item-content>
                        <!--</router-link>-->
                      </v-list-item>
                    </v-list>
                  </v-menu>
                  <v-btn
                    depressed
                    text
                    icon
                    fab
                    style="background-color: #b5b0f89e"
                    small
                    @click="handleEdit('edit', item)"
                  >
                    <v-icon>edit</v-icon>
                  </v-btn>
                  <v-btn depressed text icon fab dark color="pink" small @click="handleEdit('delete', item)">
                    <v-icon>delete</v-icon>
                  </v-btn>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios'

const myStores = []

export default {
  data() {
    return {
      config: {
        headers: {
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          Authorization: this.$session.get('tokenSession') ? this.$session.get('tokenSession') : '',
        },
      },
      flow: '',
      myStores: myStores,
      id: '',
      user_id: '',
      curr_id: '',
      stor_name: '',
      stor_logo: '',
      stor_description: '',
      stor_outstanding: true,
      stor_typepublication: '',
      stor_typestore: null,
      stor_pickup: '',
      stor_delivery: '',
      stor_supervision: '',
      stor_active: '',
      stor_color: '',
      stor_document: '',
      editedItem: {},
      store: {},
      cities: {},
      isValidEdit: true,
      rules: {
        curr_id: [
          (v) => !!v || 'Este campo es requerido',
          (v) => Number.isInteger(Number(v)) || 'Este campo solo permite números',
        ],
        name: [
          (v) => !!v || 'Este campo es requerido',
          (v) => v.length <= 255 || 'El campo debe tener menos de 255 caracteres.',
        ],
        logo: [
          (v) => !!v || 'Este campo es requerido',
          (v) => (v && v.length > 0) || 'Este campo es requerido',
          (v) => v.length <= 255 || 'El campo debe tener menos de 255 caracteres.',
        ],
        description: [
          (v) => !!v || 'Este campo es requerido',
          (v) => v.length <= 255 || 'El campo debe tener menos de 255 caracteres.',
        ],
        // outstanding: [
        //   v => !!v || 'Este campo es requerido',
        // ],
        // typepublication: [
        //   v => !!v || 'Este campo es requerido',
        // ],
        typestore: [(v) => !!v || 'Este campo es requerido'],
        // pickup: [
        //   v => !!v || 'Este campo es requerido',
        // ],
        delivery: [(v) => !!v || 'Este campo es requerido'],
        // supervision: [
        //   v => !!v || 'Este campo es requerido',
        // ],
        // prod_active: [
        //   v => !!v || 'Este campo es requerido',
        // ],
        color: [(v) => v.length <= 50 || 'El campo debe tener menos de 50 caracteres.'],
        document: [
          (v) => !!v || 'Este campo es requerido',
          (v) => (v && v.length > 0) || 'Este campo es requerido',
          (v) => v.length <= 255 || 'El campo debe tener menos de 255 caracteres.',
        ],
      },
      mode: 'hexa',
      modes: ['hexa'],
      selectDelivery: [
        { code: 'p', name: 'Propio' },
        { code: 'e', name: 'Externo' },
        { code: 'a', name: 'Ambos' },
      ],
      selectTypeStore: [
        { code: 't', name: 'Transable' },
        { code: 'c', name: 'Cotización' },
      ],
      loading: false,
      dialog: false,
      text: false,
      search: '',
      status: false,
      alert: false,
      fields: [
        { text: 'Nombre', value: 'stor_name' },
        { text: 'Estatus', value: 'active_store' },
        { text: 'Logo', value: 'stor_logo' },
        { text: 'Acción', value: 'action', sortable: false, align: 'right' },
      ],
      storeOptions: [
        {
          icon: 'mdi-store',
          href: 'sucursales',
          title: 'Sucursales',
        },
        {
          icon: 'assignment',
          href: 'productos',
          title: 'Productos',
        },
      ],
    }
  },
  created() {
    this.getStores()
  },
  filters: {
    toStoreStatus(boolean) {
      if (boolean == false) return 'Inactivo'
      if (boolean == true) {
        return 'Activo'
      }
    },

    toDeliveryStatus(status) {
      switch (status) {
        case 'a':
          return 'Ambos'
        case 'e':
          return 'Externo'
        case 'p':
          return 'Propio'
        default:
          return 'No asignado'
      }
    },

    toStatusAdmin(status) {
      switch (status) {
        case 'closed':
          return 'Cerrada'
        case 'open':
          return 'Abierta'
        default:
          return 'Sin estatus'
      }
    },

    toCityName(cityId, cities) {
      if (!cityId) return ''
      let CityName = cities.filter((city) => city.id == cityId).shift().citi_name

      return CityName ? CityName : 'N/A'
    },

    toActiveSupervisor(boolean) {
      if (!boolean) return 'Inactiva'
      if (boolean == true) {
        return 'Activa'
      }
    },
  },
  methods: {
    async getStores() {
      let userId = this.$session.get('user_id')
      this.myStores = []
      let myStores = []
      axios
        .get(process.env.VUE_APP_STORE_API + 'api/stores?user_id=' + userId)
        .then((response) => {
          this.myStores = this.myStores.concat(response.data.stores.data)
          myStores = myStores.concat(response.data.stores.data)
          myStores.map(function(x) {
            let langType
            switch (x.stor_active) {
              case true:
                langType = 'Activo'
                break
              default:
                langType = 'Inactivo'
                break
            }
            x.active_store = langType
          })
        })
        .catch((error) => {
          if (error.response) {
            switch (error.response.status) {
              case 401:
                alert('Permisos insuficientes para realizar esta acción')
                break
              case 402:
                break
              default:
            }
          }
        })
        .finally(() => (this.loading = false))
    },
    async deleteItem(id) {
      axios
        .delete(process.env.VUE_APP_STORE_API + 'api/stores/' + id)
        .then((response) => {
          console.log('RESPONSE: ', response.data.message)
          this.getStores()
          this.dialog = !this.dialog
        })
        .catch((error) => {
          if (error.response) {
            switch (error.response.status) {
              case 422:
                this.editError = 'No se pudo eliminar'
                break
              default:
            }
          }
        })
        .finally(() => (this.loading = false))
      this.loading = true
    },
    handleEdit(flow, item) {
      this.flow = flow
      this.editedItem = Object.assign(this.editedItem, item) || {}
      this.store = Object.assign(this.store, item) || {}
      this.editedItem.stor_outstanding = this.editedItem.stor_outstanding === true ? 'Si' : 'No'
      this.editedItem.stor_typepublication = this.editedItem.stor_typepublication === true ? 'Orgánica' : 'Privada'
      this.editedItem.stor_pickup = this.editedItem.stor_pickup === true ? 'Si' : 'No'
      this.editedItem.stor_supervision = this.editedItem.stor_supervision === true ? 'Si' : 'No'
      this.editedItem.stor_active = this.editedItem.stor_active === true ? 'Activo' : 'Inactivo'
      this.dialog = !this.dialog
    },
    async saveItem(editedItem) {
      editedItem.stor_logo = editedItem.stor_logo === '' ? null : editedItem.stor_logo
      editedItem.stor_typepublication = editedItem.stor_typepublication === true ? 'open' : 'close'
      axios
        .put(process.env.VUE_APP_STORE_API + 'api/stores/' + editedItem.id, {
          user_id: editedItem.user_id,
          curr_id: editedItem.curr_id,
          name: editedItem.stor_name,
          logo: editedItem.stor_logo,
          description: editedItem.stor_outstanding,
          typepublication: editedItem.typepublication,
          typestore: editedItem.stor_typestore,
          pickup: editedItem.stor_pickup,
          delivery: editedItem.stor_delivery,
          supervision: editedItem.stor_supervision,
          active: editedItem.stor_active,
          color: editedItem.stor_color,
          document: editedItem.stor_document,
        })
        .then((response) => {
          console.log('RESPONSE: ', response.data.message)
          this.getStores()
          this.dialog = !this.dialog
        })

        .finally(() => ((this.loading = false), (this.text = false)))
      this.text = true
      this.loading = true
    },
    async changeSwitch(swt, flow) {
      switch (flow) {
        case 'outstanding':
          this.stor_outstanding = swt === true ? 'Si' : 'No'
          break
        case 'typepublication':
          this.stor_typepublication = swt === true ? 'Orgánica' : 'Privada'
          break
        case 'pickup':
          this.stor_pickup = swt === true ? 'Si' : 'No'
          break
        case 'supervision':
          this.stor_supervision = swt === true ? 'Si' : 'No'
          break
        case 'active':
          this.stor_active = swt === true ? 'Activo' : 'Inactivo'
      }
    },

    storeBranchesRedirection(storId) {
      this.$router.push(storId + '/sucursales')
    },

    getColor(stor_active) {
      if (stor_active == false) return 'orange--text'
      else return 'green--text'
    },
  },
}
</script>
