<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex sm12>
          <h3>
            Saldo disponible:
            <money
              disabled
              style="border: 0; background-color: transparent"
              v-model="availableBalance"
              v-bind="money"
            ></money>
          </h3>
        </v-flex>
        <v-flex>
          <v-form @submit.prevent="filter">
            <div class="row">
              <div class="col-2">
                <v-select
                  v-model="currId"
                  :items="select_currencies"
                  item-text="name"
                  item-value="code"
                  label="Selecciona"
                  :rules="rules.select_currencies"
                  required
                  :disabled="text"
                  @change="getOperations()"
                ></v-select>
              </div>
              <div class="col-2">
                <download-excel
                  class="ml-auto ma-3 v-btn v-btn--contained v-btn--is-elevated v-btn--has-bg theme--dark v-size--default primary"
                  :data="operations"
                  :fields="json_fields"
                >
                  <v-icon left>add</v-icon> Exportar
                </download-excel>

                <button v-if="filterActivated" @click.prevent="getStores" class="btn btn-secondary">
                  Eliminar filtro
                </button>
              </div>
            </div>
            <!-- <input placeholder="Ingrese una busqueda" type="text" class="form-control mr-2 my-0" size="sm" v-model="search"/> -->
          </v-form>
        </v-flex>
        <v-flex lg12>
          <v-card>
            <v-toolbar flat color="white">
              <v-text-field
                text
                solo
                flat
                prepend-icon="search"
                placeholder="Buscar"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialogCreate" max-width="700px">
                <!--<template v-slot:activator="{ on }">
                  <div class="d-flex">
                    <v-btn color="primary" dark class="ml-auto ma-3" v-on="on" @click="handleCreate()">
                      <v-icon left>add</v-icon>Retirar
                    </v-btn>
                  </div>
                </template>-->
                <v-card>
                  <v-card-title color="primary">
                    <span
                      >Saldo disponible:
                      <money
                        disabled
                        style="border: 0; background-color: transparent"
                        v-model="availableBalance"
                        v-bind="money"
                      ></money
                    ></span>
                  </v-card-title>
                  <v-card-text>
                    <v-form v-model="isValid">
                      <div class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Seleccione la cuenta bancaria a retirar</span
                        >
                      </div>
                      <v-row>
                        <v-col cols="12" sm="12">
                          <v-select
                            v-model="acco_id"
                            :items="select_accounts"
                            item-text="name"
                            item-value="code"
                            label="Seleccione su cuenta bancaria"
                            :rules="rules.acco_bankname"
                            required
                          ></v-select>
                        </v-col>
                      </v-row>
                      <div class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Datos de su solicitud</span
                        >
                      </div>
                      <v-row>
                        <v-col cols="12" sm="6">
                          <v-text-field
                            v-model="amount"
                            label="Monto"
                            :rules="rules.amount"
                            required
                            step="0.01"
                            min="0"
                            :max="availableBalance"
                            type="number"
                            @change="calculateAmountExpense()"
                            :disabled="text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                          <v-text-field
                            v-model="description"
                            label="Descripción"
                            :rules="rules.acco_email"
                            required
                            type="text"
                            :disabled="text"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-col cols="12" sm="12" v-if="this.fixedCommission > 0">
                        <div>
                          <v-alert border="top" colored-border type="info" elevation="2">
                            El monto total a recibir en su cuenta bancaria es de
                            <money
                              disabled
                              style="border: 0; background-color: transparent"
                              v-model="this.fixedCommission"
                              v-bind="money"
                            ></money>
                          </v-alert>
                        </div>
                      </v-col>
                    </v-form>
                    <div class="darken-2 text-justify" v-if="editError" border="bottom">
                      <span class="red--text">{{ editError }}</span>
                    </div>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey" text @click="handleCreate()" :disabled="text">Cancelar</v-btn>
                    <v-btn color="primary" text @click="saveItem()" :loading="loading" :disabled="!isValid"
                      >Procesar</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialogView" max-width="800px">
                <v-card>
                  <v-card-title color="primary">
                    <span v-if="viewItem.orde_deliverynumber && this.flow === 'view'"
                      >Ver orden: {{ viewItem.orde_deliverynumber }}</span
                    >
                  </v-card-title>
                  <v-card-text>
                    <v-form v-model="isValidEdit">
                      <div class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Resumen de la operación Nro. {{ viewItem.id }}</span
                        >
                      </div>
                      <v-row>
                        <v-col cols="12" sm="4">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Plataforma</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ viewItem.plat_formated }}
                            </div>
                          </div>
                        </v-col>
                        <v-col cols="12" sm="4">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Fecha de orden</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ changeDate(viewItem.oper_datetime) }}
                            </div>
                          </div>
                        </v-col>
                        <v-col cols="12" sm="4">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Estatus</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ viewItem.oper_status_formated }}
                            </div>
                          </div>
                        </v-col>
                        <v-col v-if="viewItem.oper_income > 0" cols="12" sm="6">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Ingreso</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              <money
                                disabled
                                style="border: 0; background-color: transparent"
                                v-model="viewItem.oper_income"
                                v-bind="money"
                              ></money>
                            </div>
                          </div>
                        </v-col>
                        <v-col v-if="viewItem.oper_expense > 0" cols="12" sm="4">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Egreso</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              <money
                                disabled
                                style="border: 0; background-color: transparent"
                                v-model="viewItem.oper_expense"
                                v-bind="money"
                              ></money>
                            </div>
                          </div>
                        </v-col>
                        <v-col v-if="viewItem.oper_balance > 0" cols="12" sm="4">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Balance</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              <money
                                disabled
                                style="border: 0; background-color: transparent"
                                v-model="viewItem.oper_balance"
                                v-bind="money"
                              ></money>
                            </div>
                          </div>
                        </v-col>
                        <v-col v-if="viewItem.payment_formated != 'Comisión por Transaccion entrante'" cols="12" sm="6">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Concepto del Egreso</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ viewItem.payment_formated }}
                            </div>
                          </div>
                        </v-col>
                      </v-row>
                      <div v-if="viewItem.tran_id" class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Datos del usuario</span
                        >
                      </div>
                      <v-row v-if="viewItem.payer">
                        <v-col v-if="viewItem.tran_id" cols="12" sm="6">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Nombre completo</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ viewItem.payer.name }} {{ viewItem.payer.user_lastname }}
                            </div>
                          </div>
                        </v-col>
                        <v-col v-if="viewItem.tran_id" cols="12" sm="6">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Email</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ viewItem.payer.email }}
                            </div>
                          </div>
                        </v-col>
                      </v-row>
                      <div v-if="viewItem.tran_id" class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Detalle de la transacción</span
                        >
                      </div>
                      <v-row v-if="viewItem.transaction">
                        <v-col v-if="viewItem.tran_id" cols="12" lg="4" sm="6">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Código de transacción</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ viewItem.transaction.id }}
                            </div>
                          </div>
                        </v-col>
                        <v-col v-if="viewItem.tran_id" cols="12" lg="4" sm="6">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Método de pago</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ viewItem.payment_option.paop_name }}
                            </div>
                          </div>
                        </v-col>
                        <v-col v-if="viewItem.tran_id && viewItem.transaction" cols="12" lg="4" sm="6">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Número de referencia</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ viewItem.transaction.tran_ref }}
                            </div>
                          </div>
                        </v-col>
                        <v-col v-if="viewItem.tran_id" cols="12" lg="4" sm="6">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Fecha de la transacción</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ changeDate(viewItem.payment_option.created_at) }}
                            </div>
                          </div>
                        </v-col>
                        <v-col v-if="viewItem.tran_id" cols="12" lg="6">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Descripción</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ viewItem.transaction.tran_description }}
                            </div>
                          </div>
                        </v-col>
                      </v-row>
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey" text @click="handleView()" :disabled="text">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                dense
                :headers="fields"
                :search="search"
                :items="operations"
                :mobile-breakpoint="0"
                class="elevation-1"
                item-key="name"
                :loading="loading"
                :disable-filtering="true"
                :items-per-page="20"
                :hide-default-header="false"
                :hide-default-footer="true"
                no-data-text="No hay registros"
                no-results-text="No hay resultados para su búsqueda"
                :loading-text="loadingText"
              >
                <template v-slot:[`item.payment_option.paop_name`]="{ item }">
                  <div class="text-truncate">
                    {{ item.payment_option ? item.payment_option.paop_name : '' }}
                  </div>
                </template>

                <template v-slot:[`item.oper_datetime`]="{ item }">
                  <div class="text-truncate">
                    {{ changeDate(item.oper_datetime) }}
                  </div>
                </template>

                <template v-slot:[`item.oper_income`]="{ item }">
                  <div v-if="item.oper_income > 0" style="" class="text-truncate">
                    <money
                      disabled
                      style="border: 0; background-color: transparent; color: #39598b"
                      v-model="item.oper_income"
                      v-bind="money"
                    ></money>
                    <h6>{{ item.payment_formated }}</h6>
                  </div>
                </template>

                <template v-slot:[`item.oper_expense`]="{ item }">
                  <div v-if="item.oper_expense > 0" class="text-truncate">
                    <money
                      disabled
                      style="border: 0; background-color: transparent; color: #d02424"
                      v-model="item.oper_expense"
                      v-bind="money"
                    ></money>
                    <h6>{{ item.payment_formated }}</h6>
                  </div>
                </template>

                <template v-slot:[`item.oper_balance`]="{ item }">
                  <div v-if="item.oper_balance > 0" class="text-truncate">
                    <money
                      disabled
                      style="border: 0; background-color: transparent"
                      v-model="item.oper_balance"
                      v-bind="money"
                    ></money>
                  </div>
                </template>

                <template v-slot:[`item.action`]="{ item }">
                  <v-btn depressed text icon x-small fab dark color="indigo" small @click="handleView('view', item)">
                    <v-icon>remove_red_eye</v-icon>
                  </v-btn>
                </template>
              </v-data-table>
              <div class="text-center pt-2" style="margin: 10px 0px">
                <v-pagination @input="pagination($event)" v-model="page" :length="pages" />
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
/* eslint-disable */
  import Vue from 'vue'
  import JsonExcel from 'vue-json-excel'
  import { Money } from 'v-money'

  const operations = null
  const bankAccounts = []

  Vue.component('downloadExcel', JsonExcel)

  export default {
    components: { Money },
    data() {
      return {
        config: {
          headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
            Authorization: this.$session.get('tokenSession')
              ? 'Bearer ' + this.$session.get('tokenSession')
              : '',
          },
        },
        totalItems: 0,
        itemsPerPage: 20,
        page: 1,
        pages: 1,
        loadingText: 'Cargando... Por favor espere',
        operations: operations,
        bankAccounts: bankAccounts,
        flow: '',
        search: '',
        dialogCreate: '',
        isValid: '',
        acco_email: '',
        acco_id: '',
        editError: '',
        select_accounts: [],
        users: {},
        CityName: {},
        acco_bankname: '',
        acco_nameaccount: '',
        filterActivated: false,
        currId: '1',
        userIdPayment: '',
        sortDesc: true,
        percentCommission: 0,
        fixedCommission: 0,

        id: '',
        amount: '',
        user_id: '',
        userId: this.$session.get('user_id'),
        currSimbol: '',
        availableBalance: 0,
        curr_id: '',
        description: '',

        isValidEdit: true,
        dialogView: false,
        loading: false,
        dialog: false,
        status: false,
        ordedate: false,
        deliverydate: false,
        text: false,

        json_fields: {
          Fecha: 'oper_datetime',
          'Código de transacción': 'id',
          Usuario: 'payer.name',
          'Tipo de transacción': 'operation.payment_formated',
          'Metodo de pago': 'payment_option.paop_name',
          Monto: 'transaction.tran_ammount',
        },
        money: {
          decimal: ',',
          thousands: '.',
          prefix: '',
          suffix: '',
          precision: 2,
          masked: false,
        },
        rules: {
          select_currencies: [(v) => !!v || 'Este campo es requerido'],
          curr_id: [
            (v) => !!v || 'Este campo es requerido',
            (v) => Number.isInteger(Number(v)) || 'Este campo solo permite números',
          ],
          date: [(v) => !!v || 'Este campo es requerido'],
          amount: [
            (v) => !!v || 'Este campo es requerido',
            (v) => v >= 0 || 'Este campo tiene que ser un número positivo',
            (v) =>
              parseFloat(v) <= this.availableBalance ||
              'Este monto supera su saldo disponible',
          ],
        },
        selectEstatus: [
          { code: 'pending', name: 'Pendiente' },
          { code: 'to be approved', name: 'Para ser aprobado' },
          { code: 'approved', name: 'Aprobado' },
          { code: 'canceled', name: 'Cancelado' },
        ],
        select_currencies: [
          { code: '1', name: 'USD' },
          { code: '2', name: 'VES' },
        ],
        select_platforms: [
          { code: '1', name: 'USD' },
          { code: '2', name: 'VES' },
        ],
        editedItem: {},
        viewItem: {},
      }
    },
    mounted() {
      this.$emit('side-icon-click')
    },
    created() {
      this.getOperations()
      this.getAccounts()
      this.getAvailebleBalance()
    },
    filters: {
      toOperationStatus(boolean) {
        if (boolean == false) return 'Inactivo'
        if (boolean == true) {
          return 'Activo'
        }
      },
      toUserName(userId, users) {
        if (!userId) return ''
        let UserName = users.filter((city) => city.id == userId).shift().citi_name

        return UserName ? UserName : 'N/A'
      },
    },
    computed: {
      fields() {
        return [
          {
            text: 'Usuario',
            value: 'payerFullName',
            width: '120px'
          },
          {
            text: 'Fecha',
            value: 'oper_datetime',
          },
          {
            text: 'Método de pago',
            value: 'payment_option.paop_name',
          },
          {
            text: 'Ingreso',
            value: 'oper_income',
            align: 'right'
          },
          {
            text: 'Egreso',
            value: 'oper_expense',
            align: 'right'
          },
          {
            text: 'Saldo',
            value: 'oper_balance',
            align: 'right'
          },
          { text: 'Acción', value: 'action', sortable: false, align: 'right' },
        ]
      },
      getCurrencySimbol() {
        if (this.currId == 1) {
          return 'USD'
        } else if (this.currId == 2) {
          return 'VES'
        } else {
          return 'N/A'
        }
      },
    },
    methods: {
      changeDate(date) {
        return new Date(date).toLocaleString('es-VE')
      },
      calculateAmountExpense() {
        var list = {}
        var bank_commission
        list = this.select_accounts.filter((city) => city.id == this.acco_id).shift()
        bank_commission = list.bank.bank_percentcommission / 100
        this.fixedCommission =
          this.amount -
          Math.abs(this.amount * bank_commission - list.bank.bank_fixedcommission)
      },
      changePage(page) {
        this.page = page <= 0 || page > this.pages ? this.page : page
        this.getOperations()
      },
      getAccounts() {
        this.bankAccounts = []
        this.$axios
          .get(
            process.env.VUE_APP_AUTH_API +
              'api/accounts?user_id=' +
              this.userId +
              '&admin=1'
          )
          .then((response) => {
            this.select_accounts = this.bankAccounts.concat(response.data)
            this.select_accounts.map(function (x) {
              x.code = x.id
              x.name = x.acco_name
            })
          })
      },
      filter() {
        this.filterActivated = true
        let currString = ''
        let userId = this.$session.get('user_id')
        if (this.statusFilter != '') {
          currString = '&active=' + this.statusFilter
        }
        this.$axios
          .get(
            process.env.VUE_APP_PAYFORU_API +
              'api/operations?curr_id=' +
              this.currId +
              '&user_id=' +
              userId +
              this.page +
              currString
          )
          .then((response) => {
            this.operations = response.data.operations.data
            this.page = response.data.operations.current_page
            this.pages = response.data.operations.last_page
            this.tableLength = response.data.operations.total
          })
          .catch(() => {
            this.$swal({
              position: 'center',
              title: 'Ocurrió un error',
              html:
                '<h3 class="text-center">Compruebe su conexión a internet e intente nuevamente</h3>',
              icon: 'success',
              showConfirmButton: true,
              confirmButtonText: 'Aceptar',
            }).then((result) => {
              if (result.isConfirmed) {
                location.reload()
              }
            })
            this.$swal.showValidationMessage('Solicitud rechazada: ${error}')
          })
      },

      async getOperations() {
        this.money.prefix = this.getCurrencySimbol + ' '
        let userId = this.$session.get('user_id')
        this.operations = []
        this.$axios
          .get(
            process.env.VUE_APP_PAYFORU_API +
              'api/operations?append=payer&curr_id=' +
              this.currId +
              '&user_id=' +
              userId
          )
          .then((response) => {
            this.operations = this.operations.concat(response.data.operations.data)
            this.operations.forEach((operation) => {
              let pivotOperation = ''
              let externalOperation = ''

              if (operation.payer) {
                operation.payerFullName = operation.payer.name + ' ' +operation.payer.user_lastname
              } else {
                operation.payerFullName = ''
              }

              if (operation.oper_reference == 'Transaction: LikeU Group Commission') {
                pivotOperation = operation
                // console.log(pivotOperation) // Se observa el estado inicial de la operacion pivote

                externalOperation = this.operations
                  .filter(
                    (operation) =>
                      operation.oper_reference == 'Transaction: Providers Commission' &&
                      operation.tran_id == pivotOperation.tran_id
                  )
                  .shift()

                // console.log(externalOperation) // Se observa el estado inicial de la operacion externa asociada al pivote

                if (externalOperation != '') {
                  operation.oper_expense =
                    parseFloat(pivotOperation.oper_expense) +
                    parseFloat(externalOperation.oper_expense)

                  this.operations = this.operations.filter(
                    (operation) => operation.id != externalOperation.id
                  )
                }
                operation.oper_reference = 'Comisión de servicios especiales' // Se modifica el estado de la operacion pivote
                // console.log(pivotOperation) // Se observa el estado final de la operacion pivote
              }
              switch (operation.oper_reference) {
                case 'Transaction: LikeU Group Commission':
                  operation.payment_formated = 'Comisión de servicios especiales'
                  break

                case 'Settlement: Paid':
                  operation.payment_formated = 'Retiro de fondos de parte del comercio'
                  break

                case 'Comisión de servicios especiales':
                  operation.payment_formated = 'Comisión de servicios especiales'
                  break

                case 'Settlement: External Commission':
                  operation.payment_formated = 'Comisión por operación bancaria'
                  break

                case 'Transaction: Providers Commission':
                  operation.payment_formated = 'Comisión proveedor Procesador de pagos'
                  break

                case 'Transaction: Income':
                  operation.payment_formated = 'Nueva transacción'
                  break

                default:
                  operation.payment_formated = ''
                  break
              }
              switch (operation.oper_status) {
                case 'success':
                  operation.oper_status_formated = 'Exitoso'
                  break

                default:
                  operation.oper_status_formated = 'N/A'
                  break
              }
              switch (operation.plat_id) {
                case 13:
                  operation.plat_formated = 'Formulario de pago'
                  break

                case 2:
                  operation.plat_formated = 'PayFor-U'
                  break

                default:
                  operation.plat_formated = 'PayFor-U'
                  break
              }
            })
            if (this.operations.length < 1) {
              this.loadingText = 'No hay registros'
            }
            this.totalItems = response.data.total
            this.itemsPerPage = response.data.per_page
            if (response.data.from) {
              this.page = response.data.from
              this.pages = response.data.last_page
            } else {
              this.page = 1
              this.pages = 1
            }
            this.loading = false
          })
      },
      async pagination(page) {
        this.page = page
        this.operations = []
        await this.getOperations()
      },
      handleView(flow, item) {
        this.flow = flow
        this.viewItem = Object.assign(this.viewItem, item) || {}
        // this.editedItem = item || {}
        this.dialogView = !this.dialogView
      },
      handleCreate() {
        this.editError = ''
        this.dialogCreate = !this.dialogCreate
      },
      handleEdit(flow, item) {
        this.flow = flow
        this.editedItem = Object.assign(this.editedItem, item) || {}
        // this.editedItem = item || {}
        this.dialog = !this.dialog
      },

      async getAvailebleBalance() {
        let moneyText
        if (this.currId == 1) {
          moneyText = 'USD'
        } else {
          moneyText = 'VES'
        }
        this.$axios
          .get(
            process.env.VUE_APP_PAYFORU_API +
              'api/pending-amounts?currencyCode=' +
              moneyText +
              '&curr_id=' +
              this.currId
          )
          .then((response) => {
            this.availableBalance = response.data.availableBalance
          })
      },

      async saveItem() {
        this.$axios
          .post(
            process.env.VUE_APP_PAYFORU_API + 'api/requests',
            {
              curr_id: this.currId,
              acco_id: this.acco_id,
              description: this.description,
              dateTime: new Date(),
              amount: this.amount,
            }
          )
          .then(() => {
            this.$swal.showValidationMessage('Su solicitud ha sido creada exitosamente')
            this.getOperations()
            this.getAvailebleBalance()
            this.dialog = !this.dialog
          })
          .catch((error) => {
            if (error.response) {
              switch (error.response.status) {
                case 422:
                  this.editError = 'No se pudo editar'
                  break
                default:
              }
            }
          })
          .finally(
            () => (
              ((this.dialogCreate = !this.dialogCreate)),
              (this.text = false)
            )
          )
        this.text = true
      },
      async getUserData(userIdPayment) {
        this.$axios
          .get(process.env.VUE_APP_AUTH_API + 'api/users/' + userIdPayment, this.config)
          .then(() => {
            this.$swal.showValidationMessage('Su solicitud ha sido creada exitosamente')
            this.getOperations()
            this.dialog = !this.dialog
          })
          .finally(
            () => (
              ((this.dialogCreate = !this.dialogCreate)),
              (this.text = false)
            )
          )
        this.text = true
      },
      getColor(status_orde) {
        if (status_orde == 'pending') return 'orange--text'
        else if (status_orde == 'to be approved') return 'purple--text'
        else if (status_orde == 'canceled') return 'pink--text'
        else return 'green--text'
      },
    },
  }
</script>
<style lang="scss">
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > td,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
  .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
    padding: 0 8px;
  }
  .text-truncate {
    text-align: end;
    input {
      text-align: end;
    }
  }
</style>
