<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex sm12>
          <h3>Mis formularios de pago</h3>
        </v-flex>
        <v-flex lg12>
          <v-card>
            <v-toolbar flat color="white">
              <v-text-field
                text
                solo
                flat
                prepend-icon="search"
                placeholder="Buscar"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" max-width="800px">
                <v-card>
                  <v-card-title color="primary">
                    <span v-if="editedItem.id && this.flow === 'edit'">Editar</span>
                    <span v-if="editedItem.id && this.flow === 'delete'">Eliminar cuenta {{ editedItem.id }}</span>
                    <span v-if="this.flow === 'create'">Nueva cuenta </span>
                  </v-card-title>
                  <v-card-text>
                    <v-form v-model="isValidEdit">
                      <div class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Identificación</span
                        >
                      </div>
                      <v-row>
                        <v-col cols="12" sm="12">
                          <v-text-field
                            v-model="editedItem.form_url"
                            label="URL"
                            :rules="rules.form_url"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12">
                          <v-text-field
                            v-model="editedItem.form_name"
                            label="Nombre"
                            :rules="rules.form_name"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <div class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Imagen</span
                        >
                      </div>
                      <v-row>
                        <v-col cols="12" sm="12">
                          <v-file-input
                            v-model="editedItem.form_image"
                            multiple
                            :rules="rules.form_image"
                            accept="image/png, image/jpeg, image/gif"
                            prepend-icon="mdi-camera"
                            label="Imagen"
                            :disabled="this.flow === 'delete' || text"
                            show-size
                            @change="onFileUpload"
                          >
                          </v-file-input>
                        </v-col>

                        <v-col cols="12" sm="12">
                          <v-text-field
                            v-model="editedItem.form_cover"
                            label="Cover"
                            :rules="rules.form_cover"
                            required
                            type="text"
                            :disabled="this.flow === 'delete' || text"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-form>
                    <div class="darken-2 text-justify" v-if="editError" border="bottom">
                      <span class="red--text">{{ editError }}</span>
                    </div>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey" text @click="handleEdit()" :disabled="text">Cancelar</v-btn>
                    <v-btn color="red--text lighten-5" v-if="this.flow === 'delete'" @click="deleteItem(editedItem.id)"
                      >Eliminar</v-btn
                    >
                    <v-btn
                      color="primary"
                      text
                      v-if="this.flow === 'edit'"
                      @click="
                        saveItem(
                          editedItem.id,
                          editedItem.acco_name,
                          editedItem.acco_bankname,
                          editedItem.acco_numberaccount,
                          editedItem.acco_nameaccount,
                          editedItem.acco_phone,
                          editedItem.acco_email,
                          editedItem.country_code
                        )
                      "
                      :disabled="!isValidEdit"
                      :loading="loading"
                      >Guardar</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="fields"
                :search="search"
                :items="payforUCustomization"
                class="elevation-1"
                item-key="name"
                loading="true"
                :sort-by="['id']"
                loading-text="Cargando... Por favor espere"
              >
                <template v-slot:[`item.details`]="{ item }">
                  <div class="text-truncate" style="width: 180px">{{ item.Details }}</div>
                </template>

                <template v-slot:item.form_image="{ item }">
                  <div class="text-truncate" style="width: 180px">
                    <img :src="item.form_image" width="35" target="_new" />
                  </div>
                </template>
                <template v-slot:item.form_cover="{ item }">
                  <div class="text-truncate" style="width: 180px">
                    <img :src="item.form_cover" width="80" target="_new" />
                  </div>
                </template>
                <!-- <template v-slot:[`item.status_orde`]="{ item }">
                  <span v-if="item.orde_status === 'pending'">
                    <v-avatar left>
                      <v-icon :class="getColor(item.orde_status)">mdi-alert-circle-outline</v-icon>
                    </v-avatar>
                    {{ item.status_orde }}
                  </span>
                  <span v-else-if="item.orde_status === 'to be approved'">
                    <v-avatar left>
                      <v-icon :class="getColor(item.orde_status)">mdi-minus-circle-outline</v-icon>
                    </v-avatar>
                    {{ item.status_orde }}
                  </span>
                  <span v-else-if="item.orde_status === 'approved'">
                    <v-avatar left>
                      <v-icon :class="getColor(item.orde_status)">mdi-check-circle-outline</v-icon>
                    </v-avatar>
                    {{ item.status_orde }}
                  </span>
                  <span v-else-if="item.orde_status === 'canceled'">
                    <v-avatar left>
                      <v-icon :class="getColor(item.orde_status)">mdi-close-circle-outline</v-icon>
                    </v-avatar>
                    {{ item.status_orde }}
                  </span>
                </template>-->
                <template v-slot:[`item.action`]="{ item }">
                  <a :href="'https://qa.payfor-u.com/' + item.form_url" target="_new">
                    <v-btn depressed text icon fab dark color="teal" small>
                      <v-icon>remove_red_eye</v-icon>
                    </v-btn>
                  </a>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios'

const payforUCustomization = []

export default {
  data() {
    return {
      config: {
        headers: {
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          Authorization: this.$session.get('tokenSession') ? 'Bearer ' + this.$session.get('tokenSession') : '',
        },
      },
      payforUCustomization: payforUCustomization,
      flow: '',
      search: '',
      userId: this.$session.get('user_id'),
      codeCountry: '',
      editError: '',

      id: '',
      stor_id: '',
      user_id: '',
      user_id2: '',
      stbr_id: '',
      curr_id: '',
      orde_date: '',
      orde_status: '',
      orde_subtotal: '',
      orde_tax: '',
      orde_deliverycost: '',
      orde_deliverytip: '',
      orde_discount: '',
      orde_total: '',
      orde_type: '',
      orde_deliverystatus: '',
      orde_deliverydate: '',
      orde_deliverynumber: '',
      orde_deliverycompany: '',
      orde_deliveryQR: '',
      orde_comment: '',

      isValidEdit: true,
      loading: false,
      dialog: false,
      status: false,
      ordedate: false,
      deliverydate: false,
      text: false,

      rules: {
        curr_id: [
          (v) => !!v || 'Este campo es requerido',
          (v) => Number.isInteger(Number(v)) || 'Este campo solo permite números',
        ],
        date: [(v) => !!v || 'Este campo es requerido'],
        status: [(v) => !!v || 'Este campo es requerido'],
        subtotal: [
          (v) => !!v || 'Este campo es requerido',
          (v) => !isNaN(Number(v)) || 'Este campo solo permite números',
          (v) => v.length <= 255 || 'El campo debe tener menos de 255 caracteres.',
        ],
        tax: [(v) => !!v || 'Este campo es requerido', (v) => !isNaN(Number(v)) || 'Este campo solo permite números'],
        deliverycost: [
          (v) => !!v || 'Este campo es requerido',
          (v) => !isNaN(Number(v)) || 'Este campo solo permite números',
        ],
        deliverytip: [
          (v) => !!v || 'Este campo es requerido',
          (v) => !isNaN(Number(v)) || 'Este campo solo permite números',
        ],
        discount: [
          (v) => !!v || 'Este campo es requerido',
          (v) => !isNaN(Number(v)) || 'Este campo solo permite números',
        ],
        total: [(v) => !!v || 'Este campo es requerido', (v) => !isNaN(Number(v)) || 'Este campo solo permite números'],
        type: [(v) => !!v || 'Este campo es requerido'],
        deliverystatus: [(v) => !!v || 'Este campo es requerido'],
        deliverydate: [(v) => !!v || 'Este campo es requerido'],
        deliverynumber: [
          (v) => !!v || 'Este campo es requerido',
          (v) => Number.isInteger(Number(v)) || 'Este campo solo permite números',
        ],
        deliverycompany: [
          (v) => !!v || 'Este campo es requerido',
          (v) => v.length <= 100 || 'El campo debe tener menos de 100 caracteres.',
        ],
        deliveryQR: [
          (v) => !!v || 'Este campo es requerido',
          (v) => v.length <= 255 || 'El campo debe tener menos de 255 caracteres.',
        ],
        comment: [
          (v) => !!v || 'Este campo es requerido',
          (v) => v.length <= 255 || 'El campo debe tener menos de 255 caracteres.',
        ],
      },
      selectEstatus: [
        { code: 'pending', name: 'Pendiente' },
        { code: 'to be approved', name: 'Para ser aprobado' },
        { code: 'approved', name: 'Aprobado' },
        { code: 'canceled', name: 'Cancelado' },
      ],
      selectTypeOrder: [
        { code: 'pickup', name: 'Retiro' },
        { code: 'delivery', name: 'Entrega' },
      ],
      selectDeliveryStatus: [
        { code: 'to attend', name: 'Para asistir' },
        { code: 'attended', name: 'Atendido' },
        { code: 'to send', name: 'Para enviar' },
        { code: 'sent', name: 'Enviado' },
        { code: 'delivered', name: 'Entregado' },
      ],
      fields: [
        {
          text: 'Nro',
          value: 'id',
        },
        {
          text: 'URL',
          value: 'form_url',
        },
        {
          text: 'Nombre',
          value: 'form_name',
        },
        {
          text: 'Logo',
          value: 'form_image',
        },
        {
          text: 'Cover',
          value: 'form_cover',
        },
        {
          text: 'Estatus',
          value: 'form_active_formated',
        },

        { text: 'Acción', value: 'action', sortable: false, align: 'right' },
      ],
      editedItem: {},
      viewItem: {},
    }
  },
  created() {
    this.getPayforUCustomization()
  },
  methods: {
    onFileUpload(event) {
      this.FILE = event.target.files[0]
    },
    async getPayforUCustomization() {
      axios
        .get(process.env.VUE_APP_CART_API + 'api/payforu-form?user_id=' + this.userId, this.config)
        .then((response) => {
          console.log(response.data.payforuform)
          this.payforUCustomization = this.payforUCustomization.concat(response.data.payforuform)
          this.payforUCustomization.map(function(x) {
            let formActive
            switch (x.form_active) {
              case true:
                formActive = 'Activo'
                break

              default:
                formActive = 'Inactivo'
                break
            }
            x.form_active_formated = formActive
          })
        })
        .catch((error) => {
          if (error.response) {
            switch (error.response.status) {
              case 401:
              case 402:
                break
              default:
            }
          }
        })
        .finally(() => (this.loading = false))
    },

    handleEdit(flow, item) {
      this.flow = flow
      this.editedItem = Object.assign(this.editedItem, item) || {}
      // this.editedItem = item || {}
      this.dialog = !this.dialog
    },

    async saveItem(
      id,
      stor_id,
      user_id,
      user_id2,
      stbr_id,
      curr_id,
      orde_date,
      orde_status,
      orde_subtotal,
      orde_tax,
      orde_deliverycost,
      orde_deliverytip,
      orde_discount,
      orde_total,
      orde_type,
      orde_deliverystatus,
      orde_deliverydate,
      orde_deliverynumber,
      orde_deliverycompany,
      orde_deliveryQR,
      orde_comment
    ) {
      axios
        .put('http://store.malllikeu.com/api/orders/' + id, {
          stor_id: stor_id,
          user_id: user_id,
          user_id2: user_id2,
          stbr_id: stbr_id,
          curr_id: curr_id,
          date: orde_date,
          status: orde_status,
          subtotal: orde_subtotal,
          tax: orde_tax,
          deliverycost: orde_deliverycost,
          deliverytip: orde_deliverytip,
          discount: orde_discount,
          total: orde_total,
          type: orde_type,
          deliverystatus: orde_deliverystatus,
          deliverydate: orde_deliverydate,
          deliverynumber: orde_deliverynumber,
          deliverycompany: orde_deliverycompany,
          deliveryQR: orde_deliveryQR,
          comment: orde_comment,
        })
        .then((response) => {
          console.log('RESPONSE: ', response.data.message)
          this.getPayforUCustomization()
          this.dialog = !this.dialog
        })

        .finally(() => ((this.loading = false), (this.text = false)))
      this.text = true
      this.loading = true
    },
    getColor(status_orde) {
      if (status_orde == 'pending') return 'orange--text'
      else if (status_orde == 'to be approved') return 'purple--text'
      else if (status_orde == 'canceled') return 'pink--text'
      else return 'green--text'
    },
  },
}
</script>
