<template>
  <div class="list-table">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex sm12>
          <h3>
            Saldo disponible:
            <money
              disabled
              style="border: 0; background-color: transparent"
              v-model="availableBalance"
              v-bind="money"
            ></money>
          </h3>
        </v-flex>
        <v-flex>
          <v-form @submit.prevent="filter">
            <div class="row">
              <div class="col-2">
                <v-select
                  v-model="currId"
                  :items="select_currencies"
                  item-text="name"
                  item-value="code"
                  label="Selecciona"
                  :rules="rules.select_currencies"
                  required
                  :disabled="text"
                  @change="getRequets()"
                ></v-select>
              </div>
              <div class="col-2">
                <button v-if="filterActivated" @click.prevent="getStores" class="btn btn-secondary">
                  Eliminar filtro
                </button>
              </div>
            </div>
            <!-- <input placeholder="Ingrese una busqueda" type="text" class="form-control mr-2 my-0" size="sm" v-model="search"/> -->
          </v-form>
        </v-flex>
        <v-flex lg12>
          <v-card>
            <v-toolbar flat color="white">
              <v-text-field
                text
                solo
                flat
                prepend-icon="search"
                placeholder="Buscar"
                v-model="search"
                hide-details
                class="hidden-sm-and-down"
              ></v-text-field>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialogCreate" max-width="700px">
                <template v-slot:activator="{ on }">
                  <div class="d-flex">
                    <v-btn color="primary" dark class="ml-auto ma-3" v-on="on" @click="handleCreate()">
                      <v-icon left>add</v-icon>Retirar
                    </v-btn>
                  </div>
                </template>
                <v-card>
                  <v-card-title color="primary">
                    <span
                      >Saldo disponible:
                      <money
                        disabled
                        style="border: 0; background-color: transparent"
                        v-model="availableBalance"
                        v-bind="money"
                      ></money
                    ></span>
                  </v-card-title>
                  <v-card-text>
                    <v-form v-model="isValid">
                      <div class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Seleccione la cuenta bancaria a retirar</span
                        >
                      </div>
                      <v-row>
                        <v-col cols="12" sm="12">
                          <v-select
                            v-model="acco_id"
                            :items="select_accounts"
                            item-text="name"
                            item-value="code"
                            label="Seleccione su cuenta bancaria"
                            :rules="rules.acco_bankname"
                            required
                          ></v-select>
                        </v-col>
                      </v-row>
                      <div class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Datos de su solicitud</span
                        >
                      </div>
                      <v-row>
                        <v-col cols="12" sm="6" style="align-items: center; display: flex;">
                          <label for="" style="font-size: 15px">Monto: </label>
                          <money
                            style="border: 0; background-color: transparent; margin-left: 10px"
                            v-model="amount"
                            :rules="rules.amount"
                            :max="availableBalance"
                            v-bind="money"
                          ></money>
                        </v-col>
                        <v-col cols="12" sm="6">
                          <v-text-field
                            v-model="description"
                            label="Descripción"
                            :rules="rules.acco_email"
                            required
                            type="text"
                            :disabled="text"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-col cols="12" sm="12" v-if="this.fixedCommission > 0">
                        <div>
                          <v-alert border="top" colored-border type="info" elevation="2">
                            El monto total a recibir en su cuenta bancaria es de
                            <money
                              disabled
                              style="border: 0; background-color: transparent"
                              v-model="this.fixedCommission"
                              v-bind="money"
                            ></money>
                          </v-alert>
                        </div>
                      </v-col>
                    </v-form>
                    <div class="darken-2 text-justify" v-if="editError" border="bottom">
                      <span class="red--text">{{ editError }}</span>
                    </div>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey" text @click="dialogCreate = false" :disabled="text">Cancelar</v-btn>
                    <v-btn color="primary" text @click="saveItem()" :loading="loading" :disabled="!isValid"
                      >Guardar</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialogView" max-width="800px">
                <v-card>
                  <v-card-title color="primary">
                    <span>Detalle de la solicitud #{{ viewItem.id }}</span>
                  </v-card-title>
                  <v-card-text>
                    <v-form v-model="isValidEdit">
                      <div class="py-1 text-center blue-grey lighten-5">
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Resumen de la solicitud de retiro</span
                        >
                      </div>
                      <v-row>
                        <v-col cols="12" sm="4">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Monto de solicitud</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              <money
                                disabled
                                style="border: 0; background-color: transparent"
                                v-model="viewItem.requ_amount"
                                v-bind="money"
                              ></money>
                            </div>
                          </div>
                        </v-col>
                        <v-col cols="12" sm="4">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Fecha de la solicitud</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ changeDate(viewItem.requ_datetime) }}
                            </div>
                          </div>
                        </v-col>
                        <v-col cols="12" sm="4">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Estatus</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ viewItem.requ_status_formated }}
                            </div>
                          </div>
                        </v-col>
                        <v-col cols="12" sm="12">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Descripcion</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ viewItem.requ_description }}
                            </div>
                          </div>
                        </v-col>
                      </v-row>
                      <div
                        v-if="viewItem.operation && viewItem.operation.oper_voucher"
                        class="py-1 text-center blue-grey lighten-5"
                      >
                        <span
                          class="font-weight-medium text-h7 text-uppercase indigo--text text--darken-4"
                          border="bottom"
                          >Detalle de la transaccion</span
                        >
                      </div>
                      <v-row>
                        <v-col v-if="viewItem.operation && viewItem.operation.oper_voucher" cols="12" sm="12">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Numero de referencia</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              {{ viewItem.operation.oper_vouchertext }}
                            </div>
                          </div>
                        </v-col>
                        <v-col v-if="viewItem.operation && viewItem.operation.oper_voucher" cols="12" sm="12">
                          <div class="v-list-item__content pb-0 font-weight-black">
                            <span>Comprobante de la transacción</span>
                          </div>
                          <div class="v-list-item__content">
                            <div class="v-list-item__title">
                              <a :href="viewItem.operation.oper_voucher" target="_blank">
                                <img :src="viewItem.operation.oper_voucher" width="100px" alt="" />
                              </a>
                            </div>
                          </div>
                        </v-col>
                      </v-row>
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="grey" text @click="handleView()" :disabled="text">Cerrar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="fields"
                :search="search"
                :items="purchaseOrders"
                :items-per-page="20"
                class="elevation-1"
                :disable-filtering="true"
                item-key="id"
                :loading="loading"
                :hide-default-header="false"
                :hide-default-footer="true"
                loading-text="Cargando... Por favor espere"
                no-results-text="No hay resultados para su búsqueda"
              >
                <template v-slot:[`item.details`]="{ item }">
                  <div class="text-truncate">{{ item.Details }}</div>
                </template>
                <template v-slot:[`item.requ_datetime`]="{ item }">
                  <div class="text-truncate">
                    {{ changeDate(item.requ_datetime) }}
                  </div>
                </template>
                <template v-slot:[`item.requ_amount`]="{ item }">
                  <div class="text-truncate">
                    <money
                      disabled
                      style="border: 0; background-color: transparent; text-align: right"
                      v-model="item.requ_amount"
                      v-bind="money"
                    ></money>
                  </div>
                </template>
                <template v-slot:[`item.action`]="{ item }">
                  <v-btn depressed text icon fab dark color="indigo" small @click="handleView('view', item)">
                    <v-icon>remove_red_eye</v-icon>
                  </v-btn>
                </template>
              </v-data-table>
              <div class="text-center pt-2" style="margin: 10px 0px">
                <v-pagination @input="pagination($event)" v-model="page" :length="pages" />
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { Money } from 'v-money'

const purchaseOrders = []
const bankAccounts = []

export default {
  components: { Money },
  data() {
    return {
      config: {
        headers: {
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          Authorization: this.$session.get('tokenSession') ? 'Bearer ' + this.$session.get('tokenSession') : '',
        },
      },
      purchaseOrders: purchaseOrders,
      bankAccounts: bankAccounts,
      flow: '',
      search: '',
      dialogCreate: '',
      isValid: '',
      acco_email: '',
      acco_id: '',
      editError: '',
      select_accounts: [],
      acco_bankname: '',
      acco_nameaccount: '',
      filterActivated: false,
      totalItems: 0,
      itemsPerPage: 20,
      page: 1,
      pages: 1,
      currId: '1',

      id: '',
      amount: '',
      user_id: '',
      userId: this.$session.get('user_id'),
      currSimbol: '',
      availableBalance: 0,
      percentCommission: 0,
      fixedCommission: 0,
      curr_id: '',
      description: '',

      isValidEdit: true,
      dialogView: false,
      loading: false,
      dialog: false,
      status: false,
      ordedate: false,
      deliverydate: false,
      text: false,

      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 2,
        masked: false,
      },
      rules: {
        select_currencies: [(v) => !!v || 'Este campo es requerido'],
        curr_id: [
          (v) => !!v || 'Este campo es requerido',
          (v) => Number.isInteger(Number(v)) || 'Este campo solo permite números',
        ],
        date: [(v) => !!v || 'Este campo es requerido'],
        amount: [
          (v) => !!v || 'Este campo es requerido',
          (v) =>
            (!isNaN(parseFloat(v)) && v >= 0 && v <= this.availableBalance) ||
            'Este monto es superior a su saldo disponible',
        ],
      },
      selectEstatus: [
        { code: 'pending', name: 'Pendiente' },
        { code: 'to be approved', name: 'Para ser aprobado' },
        { code: 'approved', name: 'Aprobado' },
        { code: 'canceled', name: 'Cancelado' },
      ],
      select_currencies: [
        { code: '1', name: 'USD' },
        { code: '2', name: 'VES' },
      ],
      fields: [
        {
          text: 'Nro',
          value: 'id',
        },
        {
          text: 'Fecha',
          value: 'requ_datetime',
        },
        {
          text: 'Estatus',
          value: 'requ_status_formated',
        },
        {
          text: 'Descripcion',
          value: 'requ_description',
        },
        {
          text: 'Monto',
          value: 'requ_amount',
          align: 'right',
        },
        { text: 'Acción', value: 'action', sortable: false, align: 'right' },
      ],
      editedItem: {},
      viewItem: {},
      viewItemAccount: {},
    }
  },
  created() {
    this.getRequets()
    this.getAccounts()
    this.getAvailebleBalance()
  },
  filters: {
    toOperationStatus(boolean) {
      if (boolean == false) return 'Inactivo'
      if (boolean == true) {
        return 'Activo'
      }
    },
  },
  computed: {
    getCurrencySimbol() {
      if (this.currId == 1) {
        return 'USD'
      } else if (this.currId == 2) {
        return 'VES'
      } else {
        return 'N/A'
      }
    },
  },
  methods: {
    changePage(page) {
      this.page = page <= 0 || page > this.pages ? this.page : page
      this.getRequets()
    },
    changeDate(date) {
      return new Date(date).toLocaleString('es-VE')
    },
    getAccounts() {
      this.bankAccounts = []
      this.$axios
        .get(process.env.VUE_APP_AUTH_API + 'api/accounts?user_id=' + this.userId + '&admin=1')
        .then((response) => {
          this.select_accounts = this.bankAccounts.concat(response.data)
          this.select_accounts.map(function(x) {
            x.code = x.id
            x.name = x.acco_name
          })
          this.loading = false
        })
    },
    async pagination(page) {
      this.page = page
      this.operations = []
      await this.getOperations()
    },
    filter() {
      this.filterActivated = true
      let currString = ''
      let userId = this.$session.get('user_id')
      if (this.statusFilter != '') {
        currString = '&active=' + this.statusFilter
      }
      this.$axios
        .get(
          process.env.VUE_APP_PAYFORU_API +
            'api/operations?curr_id=' +
            this.currId +
            '&user_id=' +
            userId +
            this.page +
            currString,
          this.config
        )
        .then((response) => {
          this.operations = response.data.operations.data
          this.page = response.data.operations.current_page
          this.pages = response.data.operations.last_page
          this.tableLength = response.data.operations.total
        })
        .catch(() => {
          this.$swal({
            position: 'center',
            title: 'Ocurrió un error',
            html: '<h3 class="text-center">Compruebe su conexión a internet e intente nuevamente</h3>',
            icon: 'success',
            showConfirmButton: true,
            confirmButtonText: 'Aceptar',
          }).then((result) => {
            if (result.isConfirmed) {
              location.reload()
            }
          })
          this.$swal.showValidationMessage('Solicitud rechazada: ${error}')
        })
    },

    async getRequets() {
      this.money.prefix = this.getCurrencySimbol + ' '
      this.purchaseOrders = []
      this.$axios.get(process.env.VUE_APP_PAYFORU_API + 'api/requests?user_id=' + this.userId).then((response) => {
        this.purchaseOrders = this.purchaseOrders.concat(response.data.petitions.data)
        this.purchaseOrders.map(function(x) {
          let langOrder
          switch (x.requ_status) {
            case 'success':
              langOrder = 'Exitoso'
              break

            case 'pending':
              langOrder = 'Pendiente'
              break

            case 'failed':
              langOrder = 'Fallido'
              break

            default:
              langOrder = 'N/A'
              break
          }
          x.requ_status_formated = langOrder
        })
        this.loading = false
      })
    },
    async getAvailebleBalance() {
      let moneyText
      if (this.currId == 1) {
        moneyText = 'USD'
      } else {
        moneyText = 'VES'
      }
      this.$axios
        .get(
          process.env.VUE_APP_PAYFORU_API + 'api/pending-amounts?currencyCode=' + moneyText + '&curr_id=' + this.currId,
          this.config
        )
        .then((response) => {
          this.availableBalance = response.data.availableBalance
          this.loading = false
        })
    },
    handleView(flow, item) {
      this.flow = flow
      this.viewItem = Object.assign(this.viewItem, item) || {}
      // this.viewItemAccount = Object.assign(this.viewItem, item) || {}
      // this.editedItem = item || {}
      this.dialogView = !this.dialogView
    },
    handleCreate() {
      this.editError = ''
      this.dialogCreate = true
    },
    handleEdit(flow, item) {
      this.flow = flow
      this.editedItem = Object.assign(this.editedItem, item) || {}
      // this.editedItem = item || {}
      this.dialog = !this.dialog
    },

    async saveItem() {
      this.$axios
        .post(process.env.VUE_APP_PAYFORU_API + 'api/requests', {
          curr_id: this.currId,
          acco_id: this.acco_id,
          description: this.description,
          dateTime: new Date(),
          amount: this.amount,
        })
        .then(() => {
          this.getRequets()
          this.getAvailebleBalance()
          this.dialogCreate = false
        })
    },

    getColor(status_orde) {
      if (status_orde == 'pending') return 'orange--text'
      else if (status_orde == 'to be approved') return 'purple--text'
      else if (status_orde == 'canceled') return 'pink--text'
      else return 'green--text'
    },
  },
}
</script>
