<template class="d-print-none">
  <v-navigation-drawer
    app
    class="app--drawer d-print-none"
    :mini-variant.sync="mini"
    v-model="drawer"
    :width="drawWidth"
    :dark="$vuetify.dark"
  >
    <v-toolbar color="white darken-1 pt-1 d-flex justify-center" dark>
      <a href="/estadisticas">
        <img src="/static/Admin_Like_Group.svg" alt="Admin_Like_Group" width="160" />
      </a>
    </v-toolbar>
    <!-- <div class="pa-1">
      <v-subheader>Sponsor</v-subheader>
      <a href="/estadisticas">
        <img src="/static/WiliiUBack.svg" alt="WiliiUBack" width="250" />
      </a>
    </div> -->
    <v-list expand dense v-if="items" nav>
      <template v-for="(item, i) in items">
        <v-subheader v-if="item.header" :key="`subheader-${i}`" v-text="item.header" />
        <v-divider v-else-if="item.divider" :key="`divider-${i}`" />
        <list-group v-else-if="item.group" :key="`group-${i}`" :item="item" />
        <list-item
          v-else
          :key="`item-${i}`"
          :icon="item.icon"
          :subtext="item.subtext"
          :text="item.text"
          :to="item.to"
          :disabled="item.disabled"
        />
      </template>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
import menu from '@/api/menu'
import ListGroup from '@/components/List/Group'
import ListItem from '@/components/List/Item'

export default {
  name: 'AppDrawer',
  components: {
    ListGroup,
    ListItem,
  },
  props: {
    expanded: {
      type: Boolean,
      default: true,
    },
    drawWidth: {
      type: [Number, String],
      default: '260',
    },
    showDrawer: Boolean,
  },
  data() {
    return {
      mini: false,
      items: menu,
      drawer: true,
      scrollSettings: {
        maxScrollbarLength: 160,
      },
    }
  },

  computed: {
    computeGroupActive() {
      return true
    },
    computeLogo() {
      return '/static/m.png'
    },
  },
  watch: {
    showDrawer: {
      handler(val) {
        this.drawer = val
      },
      immediate: true,
    },
  },
  async mounted() {
    if (!this.$session.exists()) {
      this.$router.push('/login')
    }
  },
  created() {},

  methods: {
    genChildTarget(item, subItem) {
      if (subItem.href) return
      if (subItem.component) {
        return {
          name: subItem.component,
        }
      }
      return { name: `${item.group}/${subItem.name}` }
    },
  },
}
</script>

<style lang="sass" scoped>
.app--drawer
  overflow: hidden !important

  .drawer-menu--scroll
    height: calc(100vh - 48px)
    overflow: auto
</style>
